openapi: 3.0.3
info:
  title: Pure Web Service 524 activities external-persons API
  description: 'This is the Pure Web Service. Listed below are all available endpoints, along with a short description.<br/><br/>In order to use the Pure Web Service, you must enter an API key. These are generated in the Administrator tab of Pure, and issued with a given set of available endpoints.<br/>To enter your API key and begin your use, press the ''Authorize'' button to at the top of this page. <br/>You are then presented with two options for entering the API key: <ol><li>Use the API key in query format.</li><li>Use the API key in a header.</li><br/> For further documentation, see <a href="documentation/Default.htm">Web Service Documentation</a>.<br/><br/>This is final version of the legacy versioned Web Service, and will be available until otherwise announced in release notes.<br/>Please note that when doing new development it is advised to investigate the new Pure API - to see if relevant endpoints are available for your use case.<br/><em>If enabled</em>, you can can see documentation here <a href="../..">API Documentation</a>.<br/><br/>'
  version: '524'
  contact:
    name: Elsevier
servers:
- url: https://api.research-repository.uwa.edu.au/ws/api/524
security:
- apiKey: []
- api-key: []
tags:
- name: external-persons
paths:
  /external-persons:
    get:
      tags:
      - external-persons
      summary: Lists all external persons
      description: Lists all external persons in the Pure instance. If you need to filter the external persons returned, see the POST version which supports additional filtering.
      operationId: listExternalPersons
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: q
        in: query
        required: false
        description: Free text search string using Lucene query syntax. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#q_param">Read more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: order
        in: query
        required: false
        description: 'Specify the ordering of content in the result. Default: ID ascending. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read more...</a>'
        schema:
          type: array
          enum:
          - lastName
          - created
          - rating
          - modified
          items:
            type: string
      - name: orderBy
        in: query
        required: false
        description: 'Choose the directionality of the result. If set, this will override direction on ''Order''. Read more about order elements and direction here: <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read more...</a>'
        schema:
          type: string
          enum:
          - ascending
          - descending
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'. Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read more...</a>
        schema:
          type: array
          enum:
          - ddp_metadata
          - system
          - expertKeywordGroupsPortal
          - short
          - long
          items:
            type: string
      - name: linkingStrategy
        in: query
        required: false
        description: Specify the linking strategy to use when creating HTML renderings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param">Read more...</a>
        schema:
          type: string
          enum:
          - documentLinkingStrategy
          - portalLinkingStrategy
          - ddpLinkingStrategy
          - noLinkingStrategy
          - externalSourceIdLinkingStrategy
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read more...</a>'
        schema:
          type: boolean
      - name: size
        in: query
        required: false
        description: 'Enter the number of results per window. Default: 10. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read more...</a>'
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        description: 'Enter the offset into the total result set where items should be returned from. Default: 0. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read more...</a>'
        schema:
          type: integer
      - name: page
        in: query
        required: false
        description: Enter the desired page number. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read more...</a>
        schema:
          type: integer
      - name: pageSize
        in: query
        required: false
        description: Enter the desired number of results per page. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read more...</a>
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id001
                $ref: '#/components/schemas/WSExternalPersonListResult'
            application/json:
              schema: *id001
    post:
      tags:
      - external-persons
      summary: Complex operation for external persons
      description: Lists external persons in the Pure instance, similar to the GET version, instead of using parameters to alter the response, an XML document is posted with the request. The XML document contains fields for all the parameters available for the GET version, but also additional filtering options. For documentation of the XML format see <a href="documentation/Content/Topics/CT_ExternalPerson.htm#post_xml">External person documentation</a>.
      operationId: listExternalPersons_1
      security:
      - apiKey: []
      - api-key: []
      requestBody:
        content:
          application/xml:
            schema: &id002
              $ref: '#/components/schemas/WSExternalPersonsQuery'
          application/json:
            schema: *id002
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id003
                $ref: '#/components/schemas/WSExternalPersonListResult'
            application/json:
              schema: *id003
  /external-persons/{id}:
    get:
      tags:
      - external-persons
      summary: Get external person
      description: Get external person with specific ID (path parameter).
      operationId: getExternalPerson
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the desired external person
        schema:
          type: string
      - name: idClassificationType
        in: query
        required: false
        description: Give an optional classification type used to specify which type of ID should be used in the match. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read more...</a>
        schema:
          type: string
      - name: idClassification
        in: query
        required: false
        description: Give an optional classification used to specify which type of ID should be used in the match. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'. Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read more...</a>
        schema:
          type: array
          enum:
          - ddp_metadata
          - system
          - expertKeywordGroupsPortal
          - short
          - long
          items:
            type: string
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read more...</a>'
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id004
                $ref: '#/components/schemas/WSExternalPerson'
            application/json:
              schema: *id004
        '404':
          description: Resource not found
          content:
            application/xml:
              schema: &id005
                $ref: '#/components/schemas/WSErrorResult'
            application/json:
              schema: *id005
  /external-persons-meta/orderings:
    get:
      tags:
      - external-persons
      summary: Lists available orderings
      description: Lists all orderings available to the external person endpoint. These values can be used by the order parameter.
      operationId: getAvailableOrderings_9
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id006
                $ref: '#/components/schemas/WSOrderingsList'
            application/json:
              schema: *id006
  /external-persons-meta/renderings:
    get:
      tags:
      - external-persons
      summary: Lists available renderings
      description: Lists all renderings available to the external person endpoint. These values can be used by the rendering parameter.
      operationId: getAvailableRenderings_9
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id007
                $ref: '#/components/schemas/WSRenderingsList'
            application/json:
              schema: *id007
components:
  schemas:
    WSPageInformation:
      type: object
      properties:
        offset:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
      xml:
        name: pageInformation
    WSAddress:
      type: object
      properties:
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        address4:
          type: string
        address5:
          type: string
        postalCode:
          type: string
        city:
          type: string
        country:
          $ref: '#/components/schemas/WSClassification'
        subdivision:
          $ref: '#/components/schemas/WSClassification'
        state:
          type: string
        geoLocation:
          $ref: '#/components/schemas/WSGeoLocation'
      xml:
        name: address
    WSClassifiedValue:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        value:
          $ref: '#/components/schemas/WSValue'
        classification:
          xml:
            name: type
          $ref: '#/components/schemas/WSClassification'
    WSUuidList:
      type: object
      properties:
        family:
          type: string
          xml:
            attribute: true
        uuids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: uuid
    WSKeyword:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        locale:
          type: string
          xml:
            attribute: true
        freeKeywords:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: freeKeyword
    WSExternalPerson:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uuid:
          type: string
          xml:
            attribute: true
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: rendering
            $ref: '#/components/schemas/WSHtmlRendering'
        name:
          $ref: '#/components/schemas/WSName'
        type:
          $ref: '#/components/schemas/WSClassification'
        title:
          $ref: '#/components/schemas/WSLocalizedString'
        country:
          $ref: '#/components/schemas/WSClassification'
        gender:
          $ref: '#/components/schemas/WSGender'
        classifiedSources:
          type: array
          xml:
            name: ids
            wrapped: true
          items:
            xml:
              name: id
            $ref: '#/components/schemas/WSClassifiedValue'
        externalOrganisations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: externalOrganisation
            $ref: '#/components/schemas/WSExternalOrganisationRef'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        workflow:
          $ref: '#/components/schemas/WSWorkflow'
        info:
          $ref: '#/components/schemas/WSContentInformation'
      xml:
        name: externalPerson
    WSOrderingsList:
      type: object
      properties:
        orderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: ordering
      xml:
        name: orderings
    WSExternalPersonListResult:
      type: object
      properties:
        count:
          type: integer
          format: int32
        pageInformation:
          $ref: '#/components/schemas/WSPageInformation'
        navigationLinks:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: navigationLink
            $ref: '#/components/schemas/WSNavigationLink'
        items:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/WSExternalPerson'
      xml:
        name: result
    WSClassification:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uri:
          type: string
          xml:
            attribute: true
        term:
          $ref: '#/components/schemas/WSLocalizedString'
        disabled:
          type: boolean
          xml:
            attribute: true
        description:
          $ref: '#/components/schemas/WSLocalizedString'
        classificationRelations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: classificationRelation
            $ref: '#/components/schemas/WSClassificationRelation'
    WSExternalOrganisation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uuid:
          type: string
          xml:
            attribute: true
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: rendering
            $ref: '#/components/schemas/WSHtmlRendering'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        natureTypes:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: natureType
            $ref: '#/components/schemas/WSClassification'
        parent:
          $ref: '#/components/schemas/WSExternalOrganisationRef'
        acronym:
          type: string
        alternativeNames:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: alternativeName
        classifiedSources:
          type: array
          xml:
            name: ids
            wrapped: true
          items:
            xml:
              name: id
            $ref: '#/components/schemas/WSClassifiedValue'
        address:
          $ref: '#/components/schemas/WSAddress'
        phoneNumber:
          type: string
        mobilePhoneNumber:
          type: string
        fax:
          type: string
        email:
          type: string
        bankAccountNumber:
          type: string
        vatNumber:
          type: string
        documents:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: document
            $ref: '#/components/schemas/WSDocument'
        links:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: link
            $ref: '#/components/schemas/WSLink'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        note:
          type: string
        visibility:
          $ref: '#/components/schemas/WSVisibility'
        workflow:
          $ref: '#/components/schemas/WSWorkflow'
        info:
          $ref: '#/components/schemas/WSContentInformation'
      xml:
        name: externalOrganisation
    WSGender:
      type: object
      properties:
        key:
          type: string
          xml:
            attribute: true
          enum:
          - MALE
          - FEMALE
          - UNKNOWN
        value:
          $ref: '#/components/schemas/WSLocalizedString'
    WSWorkflow:
      type: object
      properties:
        workflowStep:
          type: string
          xml:
            attribute: true
        value:
          $ref: '#/components/schemas/WSLocalizedString'
    WSClassificationRelation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        relatedTo:
          $ref: '#/components/schemas/WSClassification'
        relationType:
          $ref: '#/components/schemas/WSClassification'
    WSId:
      type: object
      properties:
        id:
          type: string
        idSource:
          type: string
          xml:
            attribute: true
    WSErrorResult:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        title:
          type: string
        description:
          type: string
      xml:
        name: error
    WSName:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
    WSExternalPersonsQuery:
      type: object
      properties:
        uuids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        linkingStrategy:
          type: string
        locales:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: locale
        fallbackLocales:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: fallbackLocale
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: rendering
        fields:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: field
        orderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: ordering
        returnUsedContent:
          type: boolean
        navigationLink:
          type: boolean
        ids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: id
        idClassification:
          type: string
        idClassificationType:
          type: string
        modifiedAfter:
          type: string
          format: date-time
        modifiedBefore:
          type: string
          format: date-time
        createdAfter:
          type: string
          format: date-time
        createdBefore:
          type: string
          format: date-time
        searchString:
          type: string
        keywordURIs:
          type: array
          xml:
            name: keywordUris
            wrapped: true
          items:
            type: string
            xml:
              name: keywordUri
        freeKeywords:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: freeKeyword
      xml:
        name: externalPersonsQuery
    WSRenderingsList:
      type: object
      properties:
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: rendering
      xml:
        name: renderings
    WSExternalOrganisationRef:
      type: object
      properties:
        uuid:
          type: string
          xml:
            attribute: true
        link:
          $ref: '#/components/schemas/WSNavigationLink'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        ref:
          $ref: '#/components/schemas/WSExternalOrganisation'
    WSUsedContent:
      type: object
      properties:
        rendering:
          type: string
          xml:
            attribute: true
        locale:
          type: string
          xml:
            attribute: true
        usedContent:
          type: array
          xml:
            name: uuids
            wrapped: true
          items:
            xml:
              name: uuid
            $ref: '#/components/schemas/WSUuidList'
    WSVisibility:
      type: object
      properties:
        key:
          type: string
          xml:
            attribute: true
          enum:
          - FREE
          - CAMPUS
          - BACKEND
        value:
          $ref: '#/components/schemas/WSLocalizedString'
    WSKeywordGroup:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        logicalName:
          type: string
          xml:
            attribute: true
        type:
          $ref: '#/components/schemas/WSClassification'
        keywordContainers:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordContainer
            $ref: '#/components/schemas/WSKeywordContainer'
    WSNavigationLink:
      type: object
      properties:
        ref:
          type: string
          xml:
            attribute: true
        href:
          type: string
          xml:
            attribute: true
    WSContentInformation:
      type: object
      properties:
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        modifiedBy:
          type: string
        modifiedDate:
          type: string
          format: date-time
        portalUrl:
          type: string
        prettyUrlIdentifiers:
          type: array
          xml:
            name: prettyURLIdentifiers
            wrapped: true
          items:
            type: string
            xml:
              name: prettyURLIdentifier
        additionalExternalIds:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: id
            $ref: '#/components/schemas/WSId'
        usedContent:
          type: array
          xml:
            name: usedContents
            wrapped: true
          items:
            xml:
              name: usedContent
            $ref: '#/components/schemas/WSUsedContent'
        previousUuids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: previousUuid
    WSLink:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        url:
          type: string
        description:
          $ref: '#/components/schemas/WSLocalizedString'
        linkType:
          $ref: '#/components/schemas/WSClassification'
    WSGeoLocation:
      type: object
      properties:
        point:
          type: string
        polygon:
          type: string
        calculatedPoint:
          type: string
    WSKeywordContainer:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        structuredKeyword:
          $ref: '#/components/schemas/WSClassification'
        freeKeywords:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: freeKeyword
            $ref: '#/components/schemas/WSKeyword'
    WSHtmlRendering:
      type: object
      properties:
        format:
          type: string
          xml:
            attribute: true
        locale:
          type: string
          xml:
            attribute: true
        error:
          type: boolean
          xml:
            attribute: true
        html:
          type: string
    WSLocalizedText:
      type: object
      properties:
        locale:
          type: string
          xml:
            attribute: true
        value:
          type: string
    WSValue:
      type: object
      properties:
        formatted:
          type: boolean
          xml:
            attribute: true
        value:
          type: string
    WSLocalizedString:
      type: object
      properties:
        formatted:
          type: boolean
          xml:
            attribute: true
        text:
          type: array
          items:
            xml:
              name: text
            $ref: '#/components/schemas/WSLocalizedText'
    WSDocument:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        title:
          type: string
        documentType:
          $ref: '#/components/schemas/WSClassification'
        url:
          type: string
        documentLicense:
          $ref: '#/components/schemas/WSClassification'
        visibleOnPortalDate:
          type: string
          format: date-time
        visibility:
          $ref: '#/components/schemas/WSVisibility'
        creator:
          type: string
        created:
          type: string
          format: date-time
  securitySchemes:
    apiKey:
      type: apiKey
      name: apiKey
      in: query
    api-key:
      type: apiKey
      name: api-key
      in: header
