openapi: 3.0.3
info:
  title: Pure Web Service 524
  description: 'This is the Pure Web Service. Listed below are all available endpoints, along with a short description.<br/><br/>In
    order to use the Pure Web Service, you must enter an API key. These are generated in the Administrator tab of Pure, and
    issued with a given set of available endpoints.<br/>To enter your API key and begin your use, press the ''Authorize''
    button to at the top of this page. <br/>You are then presented with two options for entering the API key: <ol><li>Use
    the API key in query format.</li><li>Use the API key in a header.</li><br/> For further documentation, see <a href="documentation/Default.htm">Web
    Service Documentation</a>.<br/><br/>This is final version of the legacy versioned Web Service, and will be available until
    otherwise announced in release notes.<br/>Please note that when doing new development it is advised to investigate the
    new Pure API - to see if relevant endpoints are available for your use case.<br/><em>If enabled</em>, you can can see
    documentation here <a href="../..">API Documentation</a>.<br/><br/>'
  version: '524'
  contact:
    name: Elsevier
servers:
- url: https://api.research-repository.uwa.edu.au/ws/api/524
tags:
- name: datasets
- name: activities
- name: author-collaborations
- name: changes
- name: classification-schemes
- name: courses
- name: curricula-vitae
- name: ddp
- name: downloads
- name: equipments
- name: events
- name: external-organisations
- name: external-persons
- name: concepts
- name: fingerprints
- name: semantic-groups
- name: thesauri
- name: impacts
- name: journals
- name: keyword-group-configuration
- name: metadata
- name: organisational-units
- name: persons
- name: press-media
- name: prizes
- name: publishers
- name: research-outputs
- name: applications
- name: awards
- name: projects
paths:
  /datasets:
    get:
      tags:
      - datasets
      summary: Lists all datasets
      description: Lists all datasets in the Pure instance. If additional filtering of the amount of datasets returned, see
        the POST version which supports additional filtering.
      operationId: listDataSets
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: q
        in: query
        required: false
        description: Free text search string using Lucene query syntax. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#q_param">Read
          more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name
          variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: order
        in: query
        required: false
        description: 'Specify the ordering of content in the result. Default: ID ascending. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: array
          enum:
          - created
          - dateAvailable
          - rating
          - modified
          - title
          - dataProduction
          items:
            type: string
      - name: orderBy
        in: query
        required: false
        description: 'Choose the directionality of the result. If set, this will override direction on ''Order''. Read more
          about order elements and direction here: <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: string
          enum:
          - ascending
          - descending
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'.
          Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats
          instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - ddp_metadata
          - system
          - expertKeywordGroupsPortal
          - short
          - long
          items:
            type: string
      - name: linkingStrategy
        in: query
        required: false
        description: Specify the linking strategy to use when creating HTML renderings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param">Read
          more...</a>
        schema:
          type: string
          enum:
          - documentLinkingStrategy
          - portalLinkingStrategy
          - ddpLinkingStrategy
          - noLinkingStrategy
          - externalSourceIdLinkingStrategy
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result.
          <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read
          more...</a>'
        schema:
          type: boolean
      - name: size
        in: query
        required: false
        description: 'Enter the number of results per window. Default: 10. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        description: 'Enter the offset into the total result set where items should be returned from. Default: 0. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: page
        in: query
        required: false
        description: Enter the desired page number. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      - name: pageSize
        in: query
        required: false
        description: Enter the desired number of results per page. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id001
                $ref: '#/components/schemas/WSDataSetListResult'
            application/json:
              schema: *id001
    post:
      tags:
      - datasets
      summary: Complex operation for datasets
      description: Lists datasets in the Pure instance, similar to the GET version, instead of using parameters to alter the
        response, an XML document is posted with the request. The XML document contains fields for all the parameters available
        for the GET version, but also additional filtering options. For documentation of the XML format see <a href="documentation/Content/Topics/CT_Dataset.htm">Prize
        documentation</a>.
      operationId: listDataSets_1
      security:
      - apiKey: []
      - api-key: []
      requestBody:
        content:
          application/xml:
            schema: &id002
              $ref: '#/components/schemas/WSDataSetsQuery'
          application/json:
            schema: *id002
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id003
                $ref: '#/components/schemas/WSDataSetListResult'
            application/json:
              schema: *id003
  /datasets/{id}:
    get:
      tags:
      - datasets
      summary: Get dataset
      description: Get dataset with specific ID (path parameter).
      operationId: getDataSet
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the desired dataset
        schema:
          type: string
      - name: idClassificationType
        in: query
        required: false
        description: Give an optional classification type used to specify which type of ID should be used in the match. <a
          href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read more...</a>
        schema:
          type: string
      - name: idClassification
        in: query
        required: false
        description: Give an optional classification used to specify which type of ID should be used in the match. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read
          more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name
          variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'.
          Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats
          instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - ddp_metadata
          - system
          - expertKeywordGroupsPortal
          - short
          - long
          items:
            type: string
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result.
          <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read
          more...</a>'
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id004
                $ref: '#/components/schemas/WSDataSet'
            application/json:
              schema: *id004
        '404':
          description: Resource not found
          content:
            application/xml:
              schema: &id005
                $ref: '#/components/schemas/WSErrorResult'
            application/json:
              schema: *id005
  /datasets-meta/orderings:
    get:
      tags:
      - datasets
      summary: Lists available orderings
      description: Lists all orderings available to the dataset endpoint. These values can be used by the order parameter.
      operationId: getAvailableOrderings
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id006
                $ref: '#/components/schemas/WSOrderingsList'
            application/json:
              schema: *id006
  /datasets-meta/renderings:
    get:
      tags:
      - datasets
      summary: Lists available renderings
      description: Lists all renderings available to the dataset endpoint. These values can be used by the rendering parameter.
      operationId: getAvailableRenderings
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id007
                $ref: '#/components/schemas/WSRenderingsList'
            application/json:
              schema: *id007
  /activities:
    get:
      tags:
      - activities
      summary: Lists all activities
      description: Lists all activities in the Pure instance. If you need to filter the activities returned, see the POST
        version which supports additional filtering.
      operationId: listActivities
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: q
        in: query
        required: false
        description: Free text search string using Lucene query syntax. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#q_param">Read
          more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name
          variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: order
        in: query
        required: false
        description: 'Specify the ordering of content in the result. Default: ID ascending. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: array
          enum:
          - created
          - rating
          - modified
          - type
          - title
          - startDate
          items:
            type: string
      - name: orderBy
        in: query
        required: false
        description: 'Choose the directionality of the result. If set, this will override direction on ''Order''. Read more
          about order elements and direction here: <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: string
          enum:
          - ascending
          - descending
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'.
          Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats
          instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - ddp_metadata
          - system
          - expertKeywordGroupsPortal
          - short
          - long
          items:
            type: string
      - name: linkingStrategy
        in: query
        required: false
        description: Specify the linking strategy to use when creating HTML renderings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param">Read
          more...</a>
        schema:
          type: string
          enum:
          - documentLinkingStrategy
          - portalLinkingStrategy
          - ddpLinkingStrategy
          - noLinkingStrategy
          - externalSourceIdLinkingStrategy
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result.
          <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read
          more...</a>'
        schema:
          type: boolean
      - name: size
        in: query
        required: false
        description: 'Enter the number of results per window. Default: 10. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        description: 'Enter the offset into the total result set where items should be returned from. Default: 0. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: page
        in: query
        required: false
        description: Enter the desired page number. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      - name: pageSize
        in: query
        required: false
        description: Enter the desired number of results per page. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id008
                $ref: '#/components/schemas/WSActivityListResult'
            application/json:
              schema: *id008
    post:
      tags:
      - activities
      summary: Complex operation for activities
      description: Lists activities in the Pure instance, similar to the GET version, instead of using parameters to alter
        the response, an XML document is posted with the request. The XML document contains fields for all the parameters
        available for the GET version, but also additional filtering options. For documentation of the XML format see <a href="documentation/Content/Topics/CT_Activity.htm#post_xml">Activity
        documentation</a>.
      operationId: listActivities_1
      security:
      - apiKey: []
      - api-key: []
      requestBody:
        content:
          application/xml:
            schema: &id009
              $ref: '#/components/schemas/WSActivityQuery'
          application/json:
            schema: *id009
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id010
                $ref: '#/components/schemas/WSActivityListResult'
            application/json:
              schema: *id010
  /activities-meta/orderings:
    get:
      tags:
      - activities
      summary: Lists available orderings
      description: Lists all orderings available to the activity endpoint. These values can be used by the order parameter.
      operationId: getAvailableOrderings_1
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id011
                $ref: '#/components/schemas/WSOrderingsList'
            application/json:
              schema: *id011
  /activities-meta/renderings:
    get:
      tags:
      - activities
      summary: Lists available renderings
      description: Lists all renderings available to the activity endpoint. These values can be used by the rendering parameter.
      operationId: getAvailableRenderings_1
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id012
                $ref: '#/components/schemas/WSRenderingsList'
            application/json:
              schema: *id012
  /activities/{id}:
    get:
      tags:
      - activities
      summary: Returns an activity
      description: Returns an activity with specific ID (path parameter).
      operationId: getActivity
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the desired activity
        schema:
          type: string
      - name: idClassificationType
        in: query
        required: false
        description: Give an optional classification type used to specify which type of ID should be used in the match. <a
          href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read more...</a>
        schema:
          type: string
      - name: idClassification
        in: query
        required: false
        description: Give an optional classification used to specify which type of ID should be used in the match. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read
          more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name
          variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'.
          Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats
          instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - ddp_metadata
          - system
          - expertKeywordGroupsPortal
          - short
          - long
          items:
            type: string
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result.
          <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read
          more...</a>'
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id013
                $ref: '#/components/schemas/WSAbstractActivity'
            application/json:
              schema: *id013
        '404':
          description: Resource not found
          content:
            application/xml:
              schema: &id014
                $ref: '#/components/schemas/WSErrorResult'
            application/json:
              schema: *id014
  /author-collaborations:
    get:
      tags:
      - author-collaborations
      summary: Lists all author collaborations
      description: Lists all author collaborations in the Pure instance. If filtering of the returned author collaborations
        is required, see the POST version which supports additional filtering.
      operationId: listAuthorCollaborations
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: q
        in: query
        required: false
        description: Free text search string using Lucene query syntax. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#q_param">Read
          more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name
          variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: order
        in: query
        required: false
        description: 'Specify the ordering of content in the result. Default: ID ascending. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: array
          enum:
          - created
          - name
          - rating
          - modified
          items:
            type: string
      - name: orderBy
        in: query
        required: false
        description: 'Choose the directionality of the result. If set, this will override direction on ''Order''. Read more
          about order elements and direction here: <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: string
          enum:
          - ascending
          - descending
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'.
          Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats
          instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - ddp_metadata
          - system
          - short
          - long
          items:
            type: string
      - name: linkingStrategy
        in: query
        required: false
        description: Specify the linking strategy to use when creating HTML renderings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param">Read
          more...</a>
        schema:
          type: string
          enum:
          - documentLinkingStrategy
          - portalLinkingStrategy
          - ddpLinkingStrategy
          - noLinkingStrategy
          - externalSourceIdLinkingStrategy
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result.
          <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read
          more...</a>'
        schema:
          type: boolean
      - name: size
        in: query
        required: false
        description: 'Enter the number of results per window. Default: 10. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        description: 'Enter the offset into the total result set where items should be returned from. Default: 0. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: page
        in: query
        required: false
        description: Enter the desired page number. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      - name: pageSize
        in: query
        required: false
        description: Enter the desired number of results per page. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id015
                $ref: '#/components/schemas/WSAuthorCollaborationListResult'
            application/json:
              schema: *id015
    post:
      tags:
      - author-collaborations
      summary: Complex operation for author collaborations
      description: Lists author collaborations in the Pure instance, similar to the GET version, instead of using parameters
        to alter the response, an XML document is posted with the request. The XML document contains fields for all the parameters
        available for the GET version, but also additional filtering options. For documentation of the XML format see <a href="documentation/Content/Topics/CT_AuthorCollaboration.htm#post_xml">Author
        Collaboration documentation</a>
      operationId: listAuthorCollaborations_1
      security:
      - apiKey: []
      - api-key: []
      requestBody:
        content:
          application/xml:
            schema: &id016
              $ref: '#/components/schemas/WSAuthorCollaborationsQuery'
          application/json:
            schema: *id016
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id017
                $ref: '#/components/schemas/WSAuthorCollaborationListResult'
            application/json:
              schema: *id017
  /author-collaborations/{id}:
    get:
      tags:
      - author-collaborations
      summary: Get author collaboration
      description: Get author collaboration with specific ID (path parameter).
      operationId: getAuthorCollaboration
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the desired author collaboration
        schema:
          type: string
      - name: idClassificationType
        in: query
        required: false
        description: Give an optional classification type used to specify which type of ID should be used in the match. <a
          href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read more...</a>
        schema:
          type: string
      - name: idClassification
        in: query
        required: false
        description: Give an optional classification used to specify which type of ID should be used in the match. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read
          more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name
          variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'.
          Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats
          instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - ddp_metadata
          - system
          - short
          - long
          items:
            type: string
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result.
          <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read
          more...</a>'
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id018
                $ref: '#/components/schemas/WSAuthorCollaboration'
            application/json:
              schema: *id018
        '404':
          description: Resource not found
          content:
            application/xml:
              schema: &id019
                $ref: '#/components/schemas/WSErrorResult'
            application/json:
              schema: *id019
  /author-collaborations-meta/orderings:
    get:
      tags:
      - author-collaborations
      summary: Lists available orderings
      description: Lists all orderings available to the author collaboration endpoint. These values can be used by the order
        parameter.
      operationId: getAvailableOrderings_2
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id020
                $ref: '#/components/schemas/WSOrderingsList'
            application/json:
              schema: *id020
  /author-collaborations-meta/renderings:
    get:
      tags:
      - author-collaborations
      summary: Lists available renderings
      description: Lists all renderings available to the author collaboration endpoint. These values can be used by the rendering
        parameter.
      operationId: getAvailableRenderings_2
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id021
                $ref: '#/components/schemas/WSRenderingsList'
            application/json:
              schema: *id021
  /changes/{tokenOrDate}:
    get:
      tags:
      - changes
      summary: Get changes
      description: Get changes from specific audit resumption token or date in the <b>yyyy-MM-dd</b> or <b>yyyy-MM-dd_HH-mm-ss</b>
        format (e.g. 2017-04-24 or 2017-04-24_13-30-00) and onwards. In this endpoint a new event type exists that is called
        'metricValueChange'. This indicated metric values has changed for the listed content. A change of metric values are
        no longer considered a change of the pure content item and contentChange events will no longer be generated when metrics
        values are updated. As a consumer you can choose to ignore the metric updates and only react upon the contentChange
        events. Or if its important to listen for metric values changes, listen for both ContentChange and metricValueChange.
      operationId: getChanges
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: tokenOrDate
        in: path
        required: true
        description: Resumption token or date (in yyyy-MM-dd or yyyy-MM-dd_HH-mm-ss format) of the earliest audit entry
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name
          variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: order
        in: query
        required: false
        description: 'Specify the ordering of content in the result. Default: ID ascending. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: array
          items:
            type: string
      - name: orderBy
        in: query
        required: false
        description: 'Choose the directionality of the result. If set, this will override direction on ''Order''. Read more
          about order elements and direction here: <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: string
          enum:
          - ascending
          - descending
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'.
          Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats
          instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: linkingStrategy
        in: query
        required: false
        description: Specify the linking strategy to use when creating HTML renderings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param">Read
          more...</a>
        schema:
          type: string
          enum:
          - documentLinkingStrategy
          - portalLinkingStrategy
          - ddpLinkingStrategy
          - noLinkingStrategy
          - externalSourceIdLinkingStrategy
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result.
          <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read
          more...</a>'
        schema:
          type: boolean
      - name: size
        in: query
        required: false
        description: 'Enter the number of results per window. Default: 10. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        description: 'Enter the offset into the total result set where items should be returned from. Default: 0. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: page
        in: query
        required: false
        description: Enter the desired page number. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      - name: pageSize
        in: query
        required: false
        description: Enter the desired number of results per page. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id022
                $ref: '#/components/schemas/WSChangeListResult'
            application/json:
              schema: *id022
        '404':
          description: Resource not found
          content:
            application/xml:
              schema: &id023
                $ref: '#/components/schemas/WSErrorResult'
            application/json:
              schema: *id023
  /classification-schemes:
    get:
      tags:
      - classification-schemes
      summary: Lists all classification schemes
      description: Lists all classification schemes in the Pure instance. If you need to filter the classification schemes
        returned, see the POST version which supports additional filtering.
      operationId: listClassificationSchemes
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: q
        in: query
        required: false
        description: Free text search string using Lucene query syntax. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#q_param">Read
          more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name
          variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: order
        in: query
        required: false
        description: 'Specify the ordering of content in the result. Default: ID ascending. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: array
          enum:
          - rating
          - modified
          - description
          items:
            type: string
      - name: orderBy
        in: query
        required: false
        description: 'Choose the directionality of the result. If set, this will override direction on ''Order''. Read more
          about order elements and direction here: <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: string
          enum:
          - ascending
          - descending
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'.
          Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats
          instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - ddp_metadata
          - system
          - short
          items:
            type: string
      - name: linkingStrategy
        in: query
        required: false
        description: Specify the linking strategy to use when creating HTML renderings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param">Read
          more...</a>
        schema:
          type: string
          enum:
          - documentLinkingStrategy
          - portalLinkingStrategy
          - ddpLinkingStrategy
          - noLinkingStrategy
          - externalSourceIdLinkingStrategy
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result.
          <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read
          more...</a>'
        schema:
          type: boolean
      - name: size
        in: query
        required: false
        description: 'Enter the number of results per window. Default: 10. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        description: 'Enter the offset into the total result set where items should be returned from. Default: 0. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: page
        in: query
        required: false
        description: Enter the desired page number. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      - name: pageSize
        in: query
        required: false
        description: Enter the desired number of results per page. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id024
                $ref: '#/components/schemas/WSClassificationSchemeListResult'
            application/json:
              schema: *id024
    post:
      tags:
      - classification-schemes
      summary: Complex operation for classification schemes
      description: Lists classification schemes in the Pure instance, similar to the GET version, instead of using parameters
        to alter the response, an XML document is posted with the request. The XML document contains fields for all the parameters
        available for the GET version, but also additional filtering options. For documentation of the XML format see <a href="documentation/Content/Topics/CT_ClassificationScheme.htm#post_xml">Classification
        Scheme documentation</a>.
      operationId: listClassificationSchemes_1
      security:
      - apiKey: []
      - api-key: []
      requestBody:
        content:
          application/xml:
            schema: &id025
              $ref: '#/components/schemas/WSClassificationSchemesQuery'
          application/json:
            schema: *id025
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id026
                $ref: '#/components/schemas/WSClassificationSchemeListResult'
            application/json:
              schema: *id026
  /classification-schemes/{id}:
    get:
      tags:
      - classification-schemes
      summary: Returns a classification scheme
      description: Returns a classification scheme with specific URI (path parameter).
      operationId: getClassificationScheme
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the desired classification scheme
        schema:
          type: string
      - name: idClassificationType
        in: query
        required: false
        description: Give an optional classification type used to specify which type of ID should be used in the match. <a
          href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read more...</a>
        schema:
          type: string
      - name: idClassification
        in: query
        required: false
        description: Give an optional classification used to specify which type of ID should be used in the match. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read
          more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name
          variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'.
          Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats
          instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - ddp_metadata
          - system
          - short
          items:
            type: string
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result.
          <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read
          more...</a>'
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id027
                $ref: '#/components/schemas/WSClassificationScheme'
            application/json:
              schema: *id027
        '404':
          description: Resource not found
          content:
            application/xml:
              schema: &id028
                $ref: '#/components/schemas/WSErrorResult'
            application/json:
              schema: *id028
  /classification-schemes-meta/orderings:
    get:
      tags:
      - classification-schemes
      summary: Lists available orderings
      description: Lists all orderings available to the classification scheme endpoint. These values can be used by the order
        parameter.
      operationId: getAvailableOrderings_3
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id029
                $ref: '#/components/schemas/WSOrderingsList'
            application/json:
              schema: *id029
  /classification-schemes-meta/renderings:
    get:
      tags:
      - classification-schemes
      summary: Lists available renderings
      description: Lists all renderings available to the classification scheme endpoint. These values can be used by the rendering
        parameter.
      operationId: getAvailableRenderings_3
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id030
                $ref: '#/components/schemas/WSRenderingsList'
            application/json:
              schema: *id030
  /courses/active:
    get:
      tags:
      - courses
      summary: Lists active courses
      description: Lists active courses.
      operationId: listActiveCourses
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: q
        in: query
        required: false
        description: Free text search string using Lucene query syntax. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#q_param">Read
          more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name
          variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: order
        in: query
        required: false
        description: 'Specify the ordering of content in the result. Default: ID ascending. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: array
          enum:
          - endDate
          - created
          - rating
          - modified
          - title
          - startDate
          items:
            type: string
      - name: orderBy
        in: query
        required: false
        description: 'Choose the directionality of the result. If set, this will override direction on ''Order''. Read more
          about order elements and direction here: <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: string
          enum:
          - ascending
          - descending
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'.
          Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats
          instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - ddp_metadata
          - system
          - expertKeywordGroupsPortal
          - short
          - long
          items:
            type: string
      - name: linkingStrategy
        in: query
        required: false
        description: Specify the linking strategy to use when creating HTML renderings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param">Read
          more...</a>
        schema:
          type: string
          enum:
          - documentLinkingStrategy
          - portalLinkingStrategy
          - ddpLinkingStrategy
          - noLinkingStrategy
          - externalSourceIdLinkingStrategy
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result.
          <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read
          more...</a>'
        schema:
          type: boolean
      - name: size
        in: query
        required: false
        description: 'Enter the number of results per window. Default: 10. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        description: 'Enter the offset into the total result set where items should be returned from. Default: 0. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: page
        in: query
        required: false
        description: Enter the desired page number. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      - name: pageSize
        in: query
        required: false
        description: Enter the desired number of results per page. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id031
                $ref: '#/components/schemas/WSCourseListResult'
            application/json:
              schema: *id031
  /courses/inactive:
    get:
      tags:
      - courses
      summary: Lists inactive courses
      description: Lists inactive courses.
      operationId: listFormerCourses
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: q
        in: query
        required: false
        description: Free text search string using Lucene query syntax. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#q_param">Read
          more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name
          variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: order
        in: query
        required: false
        description: 'Specify the ordering of content in the result. Default: ID ascending. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: array
          enum:
          - endDate
          - created
          - rating
          - modified
          - title
          - startDate
          items:
            type: string
      - name: orderBy
        in: query
        required: false
        description: 'Choose the directionality of the result. If set, this will override direction on ''Order''. Read more
          about order elements and direction here: <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: string
          enum:
          - ascending
          - descending
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'.
          Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats
          instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - ddp_metadata
          - system
          - expertKeywordGroupsPortal
          - short
          - long
          items:
            type: string
      - name: linkingStrategy
        in: query
        required: false
        description: Specify the linking strategy to use when creating HTML renderings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param">Read
          more...</a>
        schema:
          type: string
          enum:
          - documentLinkingStrategy
          - portalLinkingStrategy
          - ddpLinkingStrategy
          - noLinkingStrategy
          - externalSourceIdLinkingStrategy
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result.
          <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read
          more...</a>'
        schema:
          type: boolean
      - name: size
        in: query
        required: false
        description: 'Enter the number of results per window. Default: 10. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        description: 'Enter the offset into the total result set where items should be returned from. Default: 0. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: page
        in: query
        required: false
        description: Enter the desired page number. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      - name: pageSize
        in: query
        required: false
        description: Enter the desired number of results per page. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id032
                $ref: '#/components/schemas/WSCourseListResult'
            application/json:
              schema: *id032
  /courses:
    get:
      tags:
      - courses
      summary: Lists all courses
      description: Lists all courses in the Pure instance. If you need to filter the courses returned, see the POST version
        which supports additional filtering.
      operationId: listCourses
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: q
        in: query
        required: false
        description: Free text search string using Lucene query syntax. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#q_param">Read
          more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name
          variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: order
        in: query
        required: false
        description: 'Specify the ordering of content in the result. Default: ID ascending. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: array
          enum:
          - endDate
          - created
          - rating
          - modified
          - title
          - startDate
          items:
            type: string
      - name: orderBy
        in: query
        required: false
        description: 'Choose the directionality of the result. If set, this will override direction on ''Order''. Read more
          about order elements and direction here: <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: string
          enum:
          - ascending
          - descending
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'.
          Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats
          instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - ddp_metadata
          - system
          - expertKeywordGroupsPortal
          - short
          - long
          items:
            type: string
      - name: linkingStrategy
        in: query
        required: false
        description: Specify the linking strategy to use when creating HTML renderings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param">Read
          more...</a>
        schema:
          type: string
          enum:
          - documentLinkingStrategy
          - portalLinkingStrategy
          - ddpLinkingStrategy
          - noLinkingStrategy
          - externalSourceIdLinkingStrategy
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result.
          <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read
          more...</a>'
        schema:
          type: boolean
      - name: size
        in: query
        required: false
        description: 'Enter the number of results per window. Default: 10. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        description: 'Enter the offset into the total result set where items should be returned from. Default: 0. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: page
        in: query
        required: false
        description: Enter the desired page number. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      - name: pageSize
        in: query
        required: false
        description: Enter the desired number of results per page. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id033
                $ref: '#/components/schemas/WSCourseListResult'
            application/json:
              schema: *id033
    post:
      tags:
      - courses
      summary: Complex operation for courses
      description: Lists courses in the Pure instance, similar to the GET version, instead of using parameters to alter the
        response, an XML document is posted with the request. The XML document contains fields for all the parameters available
        for the GET version, but also additional filtering options. For documentation of the XML format see <a href="documentation/Content/Topics/CT_Course.htm#post_xml">Course
        documentation</a>.
      operationId: listCourses_1
      security:
      - apiKey: []
      - api-key: []
      requestBody:
        content:
          application/xml:
            schema: &id034
              $ref: '#/components/schemas/WSCoursesQuery'
          application/json:
            schema: *id034
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id035
                $ref: '#/components/schemas/WSCourseListResult'
            application/json:
              schema: *id035
  /courses/{id}:
    get:
      tags:
      - courses
      summary: Get course
      description: Get course with specific ID (path parameter).
      operationId: getCourse
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the desired course
        schema:
          type: string
      - name: idClassificationType
        in: query
        required: false
        description: Give an optional classification type used to specify which type of ID should be used in the match. <a
          href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read more...</a>
        schema:
          type: string
      - name: idClassification
        in: query
        required: false
        description: Give an optional classification used to specify which type of ID should be used in the match. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read
          more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name
          variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'.
          Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats
          instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - ddp_metadata
          - system
          - expertKeywordGroupsPortal
          - short
          - long
          items:
            type: string
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result.
          <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read
          more...</a>'
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id036
                $ref: '#/components/schemas/WSCourse'
            application/json:
              schema: *id036
        '404':
          description: Resource not found
          content:
            application/xml:
              schema: &id037
                $ref: '#/components/schemas/WSErrorResult'
            application/json:
              schema: *id037
  /courses-meta/orderings:
    get:
      tags:
      - courses
      summary: Lists available orderings
      description: Lists all orderings available to the courses endpoint. These values can be used by the order parameter.
      operationId: getAvailableOrderings_4
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id038
                $ref: '#/components/schemas/WSOrderingsList'
            application/json:
              schema: *id038
  /courses-meta/renderings:
    get:
      tags:
      - courses
      summary: Lists available renderings
      description: Lists all renderings available to the courses endpoint. These values can be used by the rendering parameter.
      operationId: getAvailableRenderings_4
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id039
                $ref: '#/components/schemas/WSRenderingsList'
            application/json:
              schema: *id039
        '404':
          description: Resource not found
          content:
            application/xml:
              schema: &id040
                $ref: '#/components/schemas/WSErrorResult'
            application/json:
              schema: *id040
  /curricula-vitae/{id}:
    get:
      tags:
      - curricula-vitae
      summary: Returns a curriculum vitae
      description: Gets a curriculum vitae with specific ID (path parameter).
      operationId: getCurriculumVitae
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the desired curriculum vitae
        schema:
          type: string
      - name: idClassificationType
        in: query
        required: false
        description: Give an optional classification type used to specify which type of ID should be used in the match. <a
          href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read more...</a>
        schema:
          type: string
      - name: idClassification
        in: query
        required: false
        description: Give an optional classification used to specify which type of ID should be used in the match. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read
          more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name
          variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'.
          Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats
          instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - standard
          - ddp_metadata
          - cv_relations
          - system
          - inline
          - short
          - long
          items:
            type: string
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result.
          <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read
          more...</a>'
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id041
                $ref: '#/components/schemas/WSCurriculumVitae'
            application/json:
              schema: *id041
        '404':
          description: Resource not found
          content:
            application/xml:
              schema: &id042
                $ref: '#/components/schemas/WSErrorResult'
            application/json:
              schema: *id042
  /curricula-vitae:
    get:
      tags:
      - curricula-vitae
      summary: Lists all curricula vitae
      description: Lists all curricula vitae in the Pure instance. If you need to filter the curricula vitae returned, see
        the POST version which supports additional filtering.
      operationId: listCurriculumVitae
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: q
        in: query
        required: false
        description: Free text search string using Lucene query syntax. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#q_param">Read
          more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name
          variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: order
        in: query
        required: false
        description: 'Specify the ordering of content in the result. Default: ID ascending. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: array
          enum:
          - created
          - rating
          - modified
          - title
          items:
            type: string
      - name: orderBy
        in: query
        required: false
        description: 'Choose the directionality of the result. If set, this will override direction on ''Order''. Read more
          about order elements and direction here: <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read
          more...</a>'
        schema:
          type: string
          enum:
          - ascending
          - descending
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'.
          Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats
          instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - standard
          - ddp_metadata
          - cv_relations
          - system
          - inline
          - short
          - long
          items:
            type: string
      - name: linkingStrategy
        in: query
        required: false
        description: Specify the linking strategy to use when creating HTML renderings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param">Read
          more...</a>
        schema:
          type: string
          enum:
          - documentLinkingStrategy
          - portalLinkingStrategy
          - ddpLinkingStrategy
          - noLinkingStrategy
          - externalSourceIdLinkingStrategy
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result.
          <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read
          more...</a>'
        schema:
          type: boolean
      - name: size
        in: query
        required: false
        description: 'Enter the number of results per window. Default: 10. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        description: 'Enter the offset into the total result set where items should be returned from. Default: 0. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read
          more...</a>'
        schema:
          type: integer
      - name: page
        in: query
        required: false
        description: Enter the desired page number. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      - name: pageSize
        in: query
        required: false
        description: Enter the desired number of results per page. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read
          more...</a>
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id043
                $ref: '#/components/schemas/WSCurriculumVitaeListResult'
            application/json:
              schema: *id043
    post:
      tags:
      - curricula-vitae
      summary: Complex operation for curricula vitae
      description: Lists curricula vitae in the Pure instance, similar to the GET version, instead of using parameters to
        alter the response, an XML document is posted with the request. The XML document contains fields for all the parameters
        available for the GET version, but also additional filtering options. For documentation of the XML format see <a href="documentation/Content/Topics/CT_CurriculumVitae.htm#post_xml">Curriculum
        Vitae documentation</a>.
      operationId: listCurriculumVitae_1
      security:
      - apiKey: []
      - api-key: []
      requestBody:
        content:
          application/xml:
            schema: &id044
              $ref: '#/components/schemas/WSCurriculumVitaeQuery'
          application/json:
            schema: *id044
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id045
                $ref: '#/components/schemas/WSCurriculumVitaeListResult'
            application/json:
              schema: *id045
  /curricula-vitae-meta/orderings:
    get:
      tags:
      - curricula-vitae
      summary: Lists available orderings
      description: Lists all orderings available to the curricula vitae endpoint. These values can be used by the order parameter.
      operationId: getAvailableOrderings_5
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id046
                $ref: '#/components/schemas/WSOrderingsList'
            application/json:
              schema: *id046
  /curricula-vitae-meta/renderings:
    get:
      tags:
      - curricula-vitae
      summary: Lists available renderings
      description: Lists all renderings available to the curricula vitae endpoint. These values can be used by the rendering
        parameter.
      operationId: getAvailableRenderings_5
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id047
                $ref: '#/components/schemas/WSRenderingsList'
            application/json:
              schema: *id047
  /downloads/{id}:
    get:
      tags:
      - downloads
      summary: Lists a summary of downloads
      description: Lists all downloads in the Pure instance. If you need to filter the downloads returned, see the POST version
        which supports additional filtering.
      operationId: listDownloads
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: id
        in: path
        required: true
        description: Name of the content in Pure to fetch download statistic for, e.g. ResearchOutput, Activity, Award, Project,
          Application
        schema:
          type: string
      - name: idClassificationType
        in: query
        required: false
        description: Give an optional classification type used to specify which type of ID should be used in the match. <a
          href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read more...</a>
        schema:
          type: string
      - name: idClassification
        in: query
        required: false
        description: Give an optional classification used to specify which type of ID should be used in the match. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read
          more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name
          variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read
          more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'.
          Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats
          instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read
          more...</a>
        schema:
          type: array
          items:
            type: string
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result.
          <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read
          more...</a>'
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id048
                $ref: '#/components/schemas/WSDownloadInformationCountListResult'
            application/json:
              schema: *id048
  /downloads:
    post:
      tags:
      - downloads
      summary: Lists a summary of downloads
      description: Lists all downloads in the Pure instance. If you need to filter the downloads returned, see the POST version
        which supports additional filtering.
      operationId: listDownloads_1
      security:
[...]
