openapi: 3.0.3
info:
  title: Pure Web Service 524 activities applications API
  description: 'This is the Pure Web Service. Listed below are all available endpoints, along with a short description.<br/><br/>In order to use the Pure Web Service, you must enter an API key. These are generated in the Administrator tab of Pure, and issued with a given set of available endpoints.<br/>To enter your API key and begin your use, press the ''Authorize'' button to at the top of this page. <br/>You are then presented with two options for entering the API key: <ol><li>Use the API key in query format.</li><li>Use the API key in a header.</li><br/> For further documentation, see <a href="documentation/Default.htm">Web Service Documentation</a>.<br/><br/>This is final version of the legacy versioned Web Service, and will be available until otherwise announced in release notes.<br/>Please note that when doing new development it is advised to investigate the new Pure API - to see if relevant endpoints are available for your use case.<br/><em>If enabled</em>, you can can see documentation here <a href="../..">API Documentation</a>.<br/><br/>'
  version: '524'
  contact:
    name: Elsevier
servers:
- url: https://api.research-repository.uwa.edu.au/ws/api/524
security:
- apiKey: []
- api-key: []
tags:
- name: applications
paths:
  /applications:
    get:
      tags:
      - applications
      summary: Lists all applications
      description: Lists all applications in the Pure instance. If you need to filter the applications returned, see the POST version which supports additional filtering.
      operationId: listApplications_1
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: q
        in: query
        required: false
        description: Free text search string using Lucene query syntax. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#q_param">Read more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: order
        in: query
        required: false
        description: 'Specify the ordering of content in the result. Default: ID ascending. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read more...</a>'
        schema:
          type: array
          enum:
          - owner
          - projects
          - endDate
          - acronym
          - created
          - firstApplicant
          - rating
          - firstNatureType
          - firstFunder
          - title
          - relatedApplications
          - reviews
          - awards
          - typeClassification
          - pureid
          - modified
          - totalAppliedAmount
          - startDate
          - internalapprovalworkflow
          - applicationDate
          - firstClassifiedSource
          items:
            type: string
      - name: orderBy
        in: query
        required: false
        description: 'Choose the directionality of the result. If set, this will override direction on ''Order''. Read more about order elements and direction here: <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read more...</a>'
        schema:
          type: string
          enum:
          - ascending
          - descending
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'. Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read more...</a>
        schema:
          type: array
          enum:
          - ddp_metadata
          - system
          - expertKeywordGroupsPortal
          - short
          - long
          items:
            type: string
      - name: linkingStrategy
        in: query
        required: false
        description: Specify the linking strategy to use when creating HTML renderings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param">Read more...</a>
        schema:
          type: string
          enum:
          - documentLinkingStrategy
          - portalLinkingStrategy
          - ddpLinkingStrategy
          - noLinkingStrategy
          - externalSourceIdLinkingStrategy
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read more...</a>'
        schema:
          type: boolean
      - name: size
        in: query
        required: false
        description: 'Enter the number of results per window. Default: 10. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read more...</a>'
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        description: 'Enter the offset into the total result set where items should be returned from. Default: 0. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read more...</a>'
        schema:
          type: integer
      - name: page
        in: query
        required: false
        description: Enter the desired page number. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read more...</a>
        schema:
          type: integer
      - name: pageSize
        in: query
        required: false
        description: Enter the desired number of results per page. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read more...</a>
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id001
                $ref: '#/components/schemas/WSApplicationListResult'
            application/json:
              schema: *id001
    post:
      tags:
      - applications
      summary: Complex operation for applications
      description: Lists applications in the Pure instance, similar to the GET version, instead of using parameters to alter the response, an XML document is posted with the request. The XML document contains fields for all the parameters available for the GET version, but also additional filtering options. For documentation of the XML format see <a href="documentation/Content/Topics/CT_Application.htm#post_xml">Application documentation</a>.
      operationId: listApplications
      security:
      - apiKey: []
      - api-key: []
      requestBody:
        content:
          application/xml:
            schema: &id002
              $ref: '#/components/schemas/WSApplicationsQuery'
          application/json:
            schema: *id002
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id003
                $ref: '#/components/schemas/WSApplicationListResult'
            application/json:
              schema: *id003
  /applications-meta/orderings:
    get:
      tags:
      - applications
      summary: Lists available orderings
      description: Lists all orderings available to the application endpoint. These values can be used by the order parameter.
      operationId: getAvailableOrderings_23
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id004
                $ref: '#/components/schemas/WSOrderingsList'
            application/json:
              schema: *id004
  /applications-meta/renderings:
    get:
      tags:
      - applications
      summary: Lists available renderings
      description: Lists all renderings available to the application endpoint. These values can be used by the rendering parameter.
      operationId: getAvailableRenderings_23
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id005
                $ref: '#/components/schemas/WSRenderingsList'
            application/json:
              schema: *id005
  /applications/{id}:
    get:
      tags:
      - applications
      summary: Get application
      description: Get application with specific ID (path parameter).
      operationId: getApplication
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the desired application
        schema:
          type: string
      - name: idClassificationType
        in: query
        required: false
        description: Give an optional classification type used to specify which type of ID should be used in the match. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read more...</a>
        schema:
          type: string
      - name: idClassification
        in: query
        required: false
        description: Give an optional classification used to specify which type of ID should be used in the match. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'. Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read more...</a>
        schema:
          type: array
          enum:
          - ddp_metadata
          - system
          - expertKeywordGroupsPortal
          - short
          - long
          items:
            type: string
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read more...</a>'
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id006
                $ref: '#/components/schemas/WSApplication'
            application/json:
              schema: *id006
        '404':
          description: Resource not found
          content:
            application/xml:
              schema: &id007
                $ref: '#/components/schemas/WSErrorResult'
            application/json:
              schema: *id007
components:
  schemas:
    WSApplicationRef:
      type: object
      properties:
        uuid:
          type: string
          xml:
            attribute: true
        link:
          $ref: '#/components/schemas/WSNavigationLink'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        ref:
          $ref: '#/components/schemas/WSApplication'
    WSPublisherRef:
      type: object
      properties:
        uuid:
          type: string
          xml:
            attribute: true
        link:
          $ref: '#/components/schemas/WSNavigationLink'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        ref:
          $ref: '#/components/schemas/WSPublisher'
    WSAwardMilestone:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uuid:
          type: string
          xml:
            attribute: true
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: rendering
            $ref: '#/components/schemas/WSHtmlRendering'
        milestoneDeadline:
          type: string
          format: date-time
        completed:
          type: boolean
        completedDate:
          type: string
          format: date-time
        award:
          $ref: '#/components/schemas/WSAwardRef'
        milestoneState:
          $ref: '#/components/schemas/WSClassification'
        title:
          $ref: '#/components/schemas/WSLocalizedString'
        description:
          $ref: '#/components/schemas/WSLocalizedString'
        reminders:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: reminder
            $ref: '#/components/schemas/WSAwardMilestoneReminder'
        administrativeRole:
          type: string
        academicRole:
          $ref: '#/components/schemas/WSClassification'
        category:
          $ref: '#/components/schemas/WSClassification'
        milestoneType:
          type: string
          enum:
          - ACADEMIC
          - ADMINISTRATIVE
        info:
          $ref: '#/components/schemas/WSContentInformation'
      xml:
        name: awardMilestone
    WSFundingOpportunityEligibility:
      type: object
      properties:
        eligibilityType:
          $ref: '#/components/schemas/WSClassification'
        eligibilityFulfillmentType:
          $ref: '#/components/schemas/WSEligibilityFulfillmentType'
    WSCompoundDate:
      type: object
      properties:
        year:
          type: integer
          format: int32
        month:
          type: integer
          format: int32
        day:
          type: integer
          format: int32
    WSVisitingScholarOrganisationAssociation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        person:
          $ref: '#/components/schemas/WSPersonRef'
        affiliationId:
          type: string
        addresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: address
            $ref: '#/components/schemas/WSClassifiedAddress'
        emails:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: email
            $ref: '#/components/schemas/WSClassifiedValue'
        phoneNumbers:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: phoneNumber
            $ref: '#/components/schemas/WSClassifiedValue'
        employmentType:
          $ref: '#/components/schemas/WSClassification'
        webAddresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: webAddress
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        organisation:
          xml:
            name: organisationalUnit
          $ref: '#/components/schemas/WSOrganisationRef'
        period:
          $ref: '#/components/schemas/WSDateRange'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        purposeOfStay:
          type: string
        visitorFrom:
          $ref: '#/components/schemas/WSExternalOrganisationRef'
        jobDescription:
          $ref: '#/components/schemas/WSLocalizedString'
        jobTitle:
          $ref: '#/components/schemas/WSClassification'
        primaryAssociation:
          type: boolean
    WSPersonEducationSupervisorAssociation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        supervisor:
          $ref: '#/components/schemas/WSPersonRef'
        externalSupervisor:
          $ref: '#/components/schemas/WSExternalPersonRef'
    WSPersonExpertise:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        areasOfExpertise:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: areaOfExpertise
        areaOfExpertiseClassifications:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: areaOfExpertiseClassification
            $ref: '#/components/schemas/WSClassification'
        willingnessToMedia:
          type: boolean
        moderatedWillingnessToMedia:
          type: boolean
        type:
          $ref: '#/components/schemas/WSClassification'
    WSUuidList:
      type: object
      properties:
        family:
          type: string
          xml:
            attribute: true
        uuids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: uuid
    WSAwardMilestoneRef:
      type: object
      properties:
        uuid:
          type: string
          xml:
            attribute: true
        link:
          $ref: '#/components/schemas/WSNavigationLink'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        ref:
          $ref: '#/components/schemas/WSAwardMilestone'
    WSApplicationListResult:
      type: object
      properties:
        count:
          type: integer
          format: int32
        pageInformation:
          $ref: '#/components/schemas/WSPageInformation'
        navigationLinks:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: navigationLink
            $ref: '#/components/schemas/WSNavigationLink'
        items:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/WSApplication'
      xml:
        name: result
    WSYearlyBudget:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        year:
          type: integer
          format: int32
        budget:
          type: number
          format: double
    WSStudentOrganisationAssociation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        person:
          $ref: '#/components/schemas/WSPersonRef'
        affiliationId:
          type: string
        addresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: address
            $ref: '#/components/schemas/WSClassifiedAddress'
        emails:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: email
            $ref: '#/components/schemas/WSClassifiedValue'
        phoneNumbers:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: phoneNumber
            $ref: '#/components/schemas/WSClassifiedValue'
        employmentType:
          $ref: '#/components/schemas/WSClassification'
        webAddresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: webAddress
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        organisation:
          xml:
            name: organisationalUnit
          $ref: '#/components/schemas/WSOrganisationRef'
        period:
          $ref: '#/components/schemas/WSDateRange'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        fte:
          type: number
          format: double
        startYear:
          type: string
        studentTypeDescription:
          $ref: '#/components/schemas/WSClassification'
        programme:
          type: string
        expectedStudyDuration:
          type: integer
          format: int32
        minStudyDuration:
          type: integer
          format: int32
        maxStudyDuration:
          type: integer
          format: int32
        programmeYear:
          type: string
        initialSubmissionsDate:
          type: string
          format: date-time
        expectedEndDate:
          type: string
          format: date-time
        nationality:
          $ref: '#/components/schemas/WSClassification'
        studentResidencyFlag:
          $ref: '#/components/schemas/WSResidencyFlag'
        countryOfDomicile:
          $ref: '#/components/schemas/WSClassification'
        awardGained:
          type: string
        projectTitle:
          $ref: '#/components/schemas/WSLocalizedString'
        awardDate:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/WSClassification'
        primaryAssociation:
          type: boolean
    WSGender:
      type: object
      properties:
        key:
          type: string
          xml:
            attribute: true
          enum:
          - MALE
          - FEMALE
          - UNKNOWN
        value:
          $ref: '#/components/schemas/WSLocalizedString'
    WSDataSet:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uuid:
          type: string
          xml:
            attribute: true
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: rendering
            $ref: '#/components/schemas/WSHtmlRendering'
        title:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        descriptions:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: description
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        temporalCoveragePeriod:
          $ref: '#/components/schemas/WSCompoundDateRange'
        dataProductionPeriod:
          $ref: '#/components/schemas/WSCompoundDateRange'
        classifiedSources:
          type: array
          xml:
            name: associatedIds
            wrapped: true
          items:
            xml:
              name: associatedId
            $ref: '#/components/schemas/WSClassifiedValue'
        geographicalCoverage:
          $ref: '#/components/schemas/WSLocalizedString'
        geoLocation:
          $ref: '#/components/schemas/WSGeoLocation'
        personAssociations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: personAssociation
            $ref: '#/components/schemas/WSClassifiedDataSetPersonAssociation'
        managingOrganisationalUnit:
          $ref: '#/components/schemas/WSOrganisationRef'
        publisher:
          $ref: '#/components/schemas/WSPublisherRef'
        doi:
          type: string
        documents:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: document
            $ref: '#/components/schemas/WSDataSetDocument'
        physicalDatas:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: physicalData
            $ref: '#/components/schemas/WSDataSetPhysicalData'
        contactPerson:
          $ref: '#/components/schemas/WSPersonRef'
        legalConditions:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: legalCondition
            $ref: '#/components/schemas/WSDataSetLegalCondition'
        organisationalUnits:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: organisationalUnit
            $ref: '#/components/schemas/WSOrganisationRef'
        externalOrganisations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: externalOrganisation
            $ref: '#/components/schemas/WSExternalOrganisationRef'
        publicationDate:
          $ref: '#/components/schemas/WSCompoundDate'
        openAccessPermission:
          $ref: '#/components/schemas/WSClassification'
        relatedDataSets:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: relatedDataSets
            $ref: '#/components/schemas/WSDataSetRef'
        relatedProjects:
          type: array
          xml:
            wrapped: true
          description: Only available when the Unified Project Model module is enabled
          items:
            xml:
              name: relatedProjects
            $ref: '#/components/schemas/WSUPMProjectRef'
        relatedResearchOutputs:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: relatedResearchOutput
            $ref: '#/components/schemas/WSResearchOutputRef'
        relatedActivities:
          type: array
          xml:
            wrapped: true
          description: Only available when the Activity module is enabled
          items:
            xml:
              name: relatedActivity
            $ref: '#/components/schemas/WSActivityRef'
        relatedPressMedia:
          type: array
          xml:
            wrapped: true
          description: Only available when the Press / Media module is enabled
          items:
            xml:
              name: relatedPressMedia
            $ref: '#/components/schemas/WSPressMediaRef'
        relatedStudentThesis:
          type: array
          xml:
            name: relatedStudentTheses
            wrapped: true
          description: Only available when the Student Thesis module is enabled
          items:
            xml:
              name: relatedStudentThesis
            $ref: '#/components/schemas/WSStudentThesisRef'
        relatedImpacts:
          type: array
          xml:
            wrapped: true
          description: Only available when the Impact module is enabled
          items:
            xml:
              name: relatedImpact
            $ref: '#/components/schemas/WSImpactRef'
        relatedPrizes:
          type: array
          xml:
            wrapped: true
          description: Only available when the Prize module is enabled
          items:
            xml:
              name: relatedPrize
            $ref: '#/components/schemas/WSPrizeRef'
        relatedEquipment:
          type: array
          xml:
            wrapped: true
          description: Only available when the Equipment module is enabled
          items:
            xml:
              name: relatedEquipment
            $ref: '#/components/schemas/WSEquipmentRef'
        natureTypes:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: natureType
            $ref: '#/components/schemas/WSClassification'
        links:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: link
            $ref: '#/components/schemas/WSLink'
        workflow:
          $ref: '#/components/schemas/WSWorkflow'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        visibility:
          $ref: '#/components/schemas/WSVisibility'
        confidential:
          type: boolean
        info:
          $ref: '#/components/schemas/WSContentInformation'
        openAccessEmbargoMonths:
          type: integer
          format: int32
        openAccessEmbargoDate:
          type: string
          format: date-time
          xml:
            name: embargoEndDate
      xml:
        name: dataSet
    WSActivityRef:
      type: object
      properties:
        uuid:
          type: string
          xml:
            attribute: true
        link:
          $ref: '#/components/schemas/WSNavigationLink'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        ref:
          $ref: '#/components/schemas/WSAbstractActivity'
    WSRenderingsList:
      type: object
      properties:
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: rendering
      xml:
        name: renderings
    WSExternalOrganisationRef:
      type: object
      properties:
        uuid:
          type: string
          xml:
            attribute: true
        link:
          $ref: '#/components/schemas/WSNavigationLink'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        ref:
          $ref: '#/components/schemas/WSExternalOrganisation'
    WSUsedContent:
      type: object
      properties:
        rendering:
          type: string
          xml:
            attribute: true
        locale:
          type: string
          xml:
            attribute: true
        usedContent:
          type: array
          xml:
            name: uuids
            wrapped: true
          items:
            xml:
              name: uuid
            $ref: '#/components/schemas/WSUuidList'
    WSImpact:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uuid:
          type: string
          xml:
            attribute: true
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: rendering
            $ref: '#/components/schemas/WSHtmlRendering'
        title:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        status:
          $ref: '#/components/schemas/WSClassification'
        period:
          $ref: '#/components/schemas/WSCompoundDateRange'
        descriptions:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: description
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        categories:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: category
            $ref: '#/components/schemas/WSClassification'
        level:
          $ref: '#/components/schemas/WSClassification'
        classifiedSources:
          type: array
          xml:
            name: associatedIds
            wrapped: true
          items:
            xml:
              name: associatedId
            $ref: '#/components/schemas/WSClassifiedValue'
        participants:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: participant
            $ref: '#/components/schemas/WSImpactClassifiedParticipantAssociation'
        organisationalUnits:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: organisationalUnit
            $ref: '#/components/schemas/WSOrganisationRef'
        externalOrganisations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: externalOrganisation
            $ref: '#/components/schemas/WSExternalOrganisationRef'
        evidenceList:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: evidence
            $ref: '#/components/schemas/WSImpactEvidence'
        managingOrganisationalUnit:
          $ref: '#/components/schemas/WSOrganisationRef'
        documents:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: document
            $ref: '#/components/schemas/WSDocument'
        links:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: link
            $ref: '#/components/schemas/WSLink'
        relatedImpacts:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: relatedImpact
            $ref: '#/components/schemas/WSImpactRef'
        relatedPressMedia:
          type: array
          xml:
            wrapped: true
          description: Only available when the Press / Media module is enabled
          items:
            xml:
              name: relatedPressMedia
            $ref: '#/components/schemas/WSPressMediaRef'
        relatedResearchOutputs:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: relatedResearchOutput
            $ref: '#/components/schemas/WSResearchOutputRef'
        relatedActivities:
          type: array
          xml:
            wrapped: true
          description: Only available when the Activity module is enabled
          items:
            xml:
              name: relatedActivity
            $ref: '#/components/schemas/WSActivityRef'
        relatedProjects:
          type: array
          xml:
            wrapped: true
          description: Only available when the Unified Project Model module is enabled
          items:
            xml:
              name: relatedProject
            $ref: '#/components/schemas/WSUPMProjectRef'
        relatedPrizes:
          type: array
          xml:
            wrapped: true
          description: Only available when the Prize module is enabled
          items:
            xml:
              name: relatedPrize
            $ref: '#/components/schemas/WSPrizeRef'
        relatedStudentTheses:
          type: array
          xml:
            wrapped: true
          description: Only available when the Student Thesis module is enabled
          items:
            xml:
              name: relatedStudentThesis
            $ref: '#/components/schemas/WSStudentThesisRef'
        relatedDataSets:
          type: array
          xml:
            wrapped: true
          description: Only available when the Dataset module is enabled
          items:
            xml:
              name: relatedDataSet
            $ref: '#/components/schemas/WSDataSetRef'
        relatedEquipment:
          type: array
          xml:
            wrapped: true
          description: Only available when the Equipment module is enabled
          items:
            xml:
              name: relatedEquipment
            $ref: '#/components/schemas/WSEquipmentRef'
        visibility:
          $ref: '#/components/schemas/WSVisibility'
        confidential:
          type: boolean
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        workflow:
          $ref: '#/components/schemas/WSWorkflow'
        info:
          $ref: '#/components/schemas/WSContentInformation'
      xml:
        name: impact
    WSReference:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        type:
          $ref: '#/components/schemas/WSReferenceType'
        title:
          $ref: '#/components/schemas/WSLocalizedString'
        description:
          $ref: '#/components/schemas/WSLocalizedString'
        personAssociations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: personAssociation
            $ref: '#/components/schemas/WSClassifiedPersonAssociation'
        organisationalUnits:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: organisationalUnit
            $ref: '#/components/schemas/WSOrganisationRef'
        externalOrganisations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: externalOrganisation
            $ref: '#/components/schemas/WSExternalOrganisationRef'
        date:
          type: string
          format: date-time
        url:
          type: string
        medium:
          type: string
        mediaType:
          $ref: '#/components/schemas/WSClassification'
        degreeOfRecognition:
          $ref: '#/components/schemas/WSClassification'
        country:
          $ref: '#/components/schemas/WSClassification'
        subdivision:
          $ref: '#/components/schemas/WSClassification'
        author:
          type: string
        extent:
          type: string
        newsfloFragment:
          type: string
          description: Only available when Newsflo integration is enabled
        newsfloRank:
          description: Only available when Newsflo integration is enabled
          $ref: '#/components/schemas/WSClassification'
    WSResearchOutputMetric:
      type: object
      properties:
        value:
          type: integer
          format: int32
        year:
          type: integer
          format: int32
    WSEvidenceContactInformation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        contactName:
          type: string
        contactDetails:
          type: string
        corroborateText:
          type: string
        consentObtained:
          type: boolean
    WSProfessionalQualification:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        qualification:
          $ref: '#/components/schemas/WSLocalizedString'
        abbreviatedQualification:
          $ref: '#/components/schemas/WSLocalizedString'
        period:
          $ref: '#/components/schemas/WSCompoundDateRange'
    WSGeoLocation:
      type: object
      properties:
        point:
          type: string
        polygon:
          type: string
        calculatedPoint:
          type: string
    WSFileRef:
      type: object
      properties:
        fileName:
          type: string
        mimeType:
          type: string
        size:
          type: integer
          format: int64
        fileURL:
          type: string
        pureId:
          type: integer
          format: int64
    WSPressMediaRef:
      type: object
      properties:
        uuid:
          type: string
          xml:
            attribute: true
        link:
          $ref: '#/components/schemas/WSNavigationLink'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        ref:
          $ref: '#/components/schemas/WSPressMedia'
    WSPublisher:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uuid:
          type: string
          xml:
            attribute: true
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: rendering
            $ref: '#/components/schemas/WSHtmlRendering'
        name:
          type: string
        type:
          $ref: '#/components/schemas/WSClassification'
        alternativeNames:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: alternativeName
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        countries:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: country
            $ref: '#/components/schemas/WSClassification'
        workflow:
          $ref: '#/components/schemas/WSWorkflow'
        info:
          $ref: '#/components/schemas/WSContentInformation'
      xml:
        name: publisher
    WSLocalizedString:
      type: object
      properties:
        formatted:
          type: boolean
          xml:
            attribute: true
        text:
          type: array
          items:
            xml:
              name: text
            $ref: '#/components/schemas/WSLocalizedText'
    WSEthicalReview:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uuid:
          type: string
          xml:
            attribute: true
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: rendering
            $ref: '#/components/schemas/WSHtmlRendering'
        title:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        descriptions:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: description
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        reply:
          $ref: '#/components/schemas/WSEthicalReviewReply'
        classifiedSources:
          type: array
          xml:
            name: ids
            wrapped: true
          items:
            xml:
              name: id
            $ref: '#/components/schemas/WSClassifiedValue'
        relatedApplication:
          $ref: '#/components/schemas/WSApplicationRef'
        relatedAward:
          $ref: '#/components/schemas/WSAwardRef'
        personAssociations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: personAssociation
            $ref: '#/components/schemas/WSClassifiedPersonAssociation'
        organisationalUnits:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: organisationalUnit
            $ref: '#/components/schemas/WSOrganisationRef'
        externalOrganisations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: externalOrganisation
            $ref: '#/components/schemas/WSExternalOrganisationRef'
        managingOrganisationalUnit:
          $ref: '#/components/schemas/WSOrganisationRef'
        documents:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: document
            $ref: '#/components/schemas/WSEthicalReviewDocument'
        links:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: link
            $ref: '#/components/schemas/WSLink'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        confidential:
          type: boolean
        visibility:
          $ref: '#/components/schemas/WSVisibility'
        workflow:
          $ref: '#/components/schemas/WSWorkflow'
        info:
          $ref: '#/components/schemas/WSContentInformation'
      xml:
        name: ethicalReview
    WSPersonsNestedQuery:
      type: object
      properties:
        uuids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        linkingStrategy:
          type: string
        locales:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: locale
        fallbackLocales:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: fallbackLocale
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: rendering
        fields:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: field
        orderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: ordering
        returnUsedContent:
          type: boolean
        navigationLink:
          type: boolean
        ids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: id
        idClassification:
          type: string
        idClassificationType:
          type: string
        modifiedAfter:
          type: string
          format: date-time
        modifiedBefore:
          type: string
          format: date-time
        createdAfter:
          type: string
          format: date-time
        createdBefore:
          type: string
          format: date-time
        employmentTypeUris:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: employmentTypeUri
        employmentStatus:
          type: string
          enum:
          - ACTIVE
          - FORMER
        employmentPeriod:
          $ref: '#/components/schemas/WSCompoundDateRange'
        personOrganisationAssociationTypes:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: associationType
            enum:
            - STAFF
            - STUDENTS
            - VISITING_SCHOLARS
            - HONORARY_STAFF
        forOrganisations:
          $ref: '#/components/schemas/WSOrganisationsNestedQuery'
        academicStaff:
          type: boolean
        keywordURIs:
          type: array
          xml:
            name: keywordUris
            wrapped: true
          items:
            type: string
            xml:
              name: keywordUri
        freeKeywords:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: freeKeyword
        highlightedContent:
          type: boolean
          description: Only available when the DDP module is enabled
      xml:
        name: personsNestedQuery
    WSHonoraryStaffOrganisationAssociation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        person:
          $ref: '#/components/schemas/WSPersonRef'
        affiliationId:
          type: string
        addresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: address
            $ref: '#/components/schemas/WSClassifiedAddress'
        emails:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: email
            $ref: '#/components/schemas/WSClassifiedValue'
        phoneNumbers:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: phoneNumber
            $ref: '#/components/schemas/WSClassifiedValue'
        employmentType:
          $ref: '#/components/schemas/WSClassification'
        webAddresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: webAddress
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        organisation:
          xml:
            name: organisationalUnit
          $ref: '#/components/schemas/WSOrganisationRef'
        period:
          $ref: '#/components/schemas/WSDateRange'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        jobDescription:
          $ref: '#/components/schemas/WSLocalizedString'
        jobTitle:
          $ref: '#/components/schemas/WSClassification'
        primaryAssociation:
          type: boolean
    WSPageInformation:
      type: object
      properties:
        offset:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
      xml:
        name: pageInformation
    WSAwardsNestedQuery:
      type: object
      properties:
        uuids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        linkingStrategy:
          type: string
        locales:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: locale
        fallbackLocales:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: fallbackLocale
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: rendering
        fields:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: field
        orderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: ordering
        returnUsedContent:
          type: boolean
        navigationLink:
          type: boolean
        ids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: id
        idClassification:
          type: string
        idClassificationType:
          type: string
        modifiedAfter:
          type: string
          format: date-time
        modifiedBefore:
          type: string
          format: date-time
        createdAfter:
          type: string
          format: date-time
        createdBefore:
          type: string
          format: date-time
        excludeByTypeUri:
          type: boolean
        typeUris:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: typeUri
        period:
          $ref: '#/components/schemas/WSCompoundDateRange'
        financial:
          type: boolean
        workflowSteps:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: workflowStep
        funders:
          $ref: '#/components/schemas/WSExternalOrganisationsNestedQuery'
        externalCollaborators:
          $ref: '#/components/schemas/WSExternalOrganisationsNestedQuery'
        internalCollaborators:
          $ref: '#/components/schemas/WSOrganisationsNestedQuery'
        managingOrganisationalUnits:
          $ref: '#/components/schemas/WSOrganisationsNestedQuery'
        forOrganisationalUnits:
          $ref: '#/components/schemas/WSOrganisationsNestedQuery'
        forPersons:
          $ref: '#/components/schemas/WSPersonsNestedQuery'
        forProjects:
          $ref: '#/components/schemas/WSUPMProjectsNestedQuery'
      xml:
        name: awardsNestedQuery
    WSDataSetRef:
      type: object
      properties:
        uuid:
          type: string
          xml:
            attribute: true
        link:
          $ref: '#/components/schemas/WSNavigationLink'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        ref:
          $ref: '#/components/schemas/WSDataSet'
    WSPrizeRef:
      type: object
      properties:
        uuid:
          type: string
          xml:
            attribute: true
        link:
          $ref: '#/components/schemas/WSNavigationLink'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        ref:
          $ref: '#/components/schemas/WSPrize'
    WSStudentThesisDocument:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        title:
          type: string
        documentType:
          $ref: '#/components/schemas/WSClassification'
        url:
          type: string
        documentLicense:
          $ref: '#/components/schemas/WSClassification'
        visibleOnPortalDate:
          type: string
          format: date-time
        visibility:
          $ref: '#/components/schemas/WSVisibility'
        creator:
          type: string
        created:
          type: string
          format: date-time
        documentVersionType:
          $ref: '#/components/schemas/WSClassification'
        embargoReason:
          $ref: '#/components/schemas/WSClassification'
        rightsStatement:
          type: string
        embargoDate:
          type: string
          format: date-time
    WSFundingOpportunityRef:
      type: object
      properties:
        uuid:
          type: string
          xml:
            attribute: true
        link:
          $ref: '#/components/schemas/WSNavigationLink'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        ref:
          $ref: '#/components/schemas/WSFundingOpportunity'
    WSOrderingsList:
      type: object
      properties:
        orderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: ordering
      xml:
        name: orderings
    WSClassifiedApplicantAssociation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        person:
          $ref: '#/components/schemas/WSPersonRef'
        externalPerson:
          $ref: '#/components/schemas/WSExternalPersonRef'
        authorCollaboration:
          $ref: '#/components/schemas/WSAuthorCollaborationRef'
        name:
          $ref: '#/components/schemas/WSName'
        personRole:
          $ref: '#/components/schemas/WSClassification'
        organisationalUnits:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: organisationalUnit
            $ref: '#/components/schemas/WSOrganisationRef'
        externalOrganisations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: externalOrganisation
            $ref: '#/components/schemas/WSExternalOrganisationRef'
        academicOwnershipPercentage:
          type: number
          format: double
        plannedResearcherCommitmentPercentage:
          type: number
          format: double
        researcherCommitments:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: researcherCommitment
            $ref: '#/components/schemas/WSResearcherCommitment'
    WSERA2015FieldOfResearchAssociation:
      type: object
      properties:
        fieldsOfResearch:
          xml:
            name: fieldOfResearch
          $ref: '#/components/schemas/WSClassification'
        splitPercentage:
          type: number
          format: double
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
    WSResearchOutputRef:
      type: object
      properties:
        uuid:
          type: string
          xml:
            attribute: true
        link:
          $ref: '#/components/schemas/WSNavigationLink'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        ref:
          $ref: '#/components/schemas/WSResearchOutput'
    WSPublicationStatus:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        current:
          type: boolean
          xml:
            attribute: true
        publicationStatus:
          $ref: '#/components/schemas/WSClassification'
        publicationDate:
          $ref: '#/components/schemas/WSCompoundDate'
    WSPerson:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uuid:
          type: string
          xml:
            attribute: true
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: rendering
            $ref: '#/components/schemas/WSHtmlRendering'
        name:
          $ref: '#/components/schemas/WSName'
        gender:
          description: Only available if it is made public
          $ref: '#/components/schemas/WSClassification'
        dateOfBirth:
          type: string
          format: date-time
          description: Only available if it is made public
        nationality:
          $ref: '#/components/schemas/WSClassification'
        nameVariants:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: nameVariant
            $ref: '#/components/schemas/WSClassifiedName'
        titles:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: title
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        classifiedSources:
          type: array
          xml:
            name: ids
            wrapped: true
          items:
            xml:
              name: id
            $ref: '#/components/schemas/WSClassifiedValue'
        orcid:
          type: string
        profilePhotos:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: profilePhoto
            $ref: '#/components/schemas/WSClassifiedFileRef'
        links:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: link
            $ref: '#/components/schemas/WSLink'
        startDateAsResearcher:
          type: string
          format: date-time
        retirementDate:
          type: string
          format: date-time
        profiled:
          type: boolean
          description: Only available when the Author Profile module is enabled
        scopusHIndex:
          type: integer
          format: int32
        profileInformations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: profileInformation
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        studentOrganisationAssociations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: studentOrganisationAssociation
            $ref: '#/components/schemas/WSStudentOrganisationAssociation'
        staffOrganisationAssociations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: staffOrganisationAssociation
            $ref: '#/components/schemas/WSStaffOrganisationAssociation'
        visitingScholarOrganisationAssociations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: visitingScholarOrganisationAssociation
            $ref: '#/components/schemas/WSVisitingScholarOrganisationAssociation'
        honoraryStaffOrganisationAssociations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: honoraryStaffOrganisationAssociation
            $ref: '#/components/schemas/WSHonoraryStaffOrganisationAssociation'
        supervisorForRelations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: supervisorForRelation
            $ref: '#/components/schemas/WSPersonSupervisorAssociation'
        supervisedByRelations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: supervisedByRelation
            $ref: '#/components/schemas/WSPersonSupervisorAssociation'
        leavesOfAbsence:
          type: array
          xml:
            name: leavesOfAbsences
            wrapped: true
          description: Only available when the proper configuration is enabled
          items:
            xml:
              name: leavesOfAbsence
            $ref: '#/components/schemas/WSPersonClassifiedLeaveOfAbsence'
        employeeStartDate:
          type: string
          format: date-time
        employeeEndDate:
          type: string
          format: date-time
        fte:
          type: number
          format: double
        affiliationNote:
          type: string
          description: Only available when the proper configuration is enabled
        externalPositions:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: externalPosition
            $ref: '#/components/schemas/WSPersonExternalPosition'
        educations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: education
            $ref: '#/components/schemas/WSPersonEducation'
        professionalQualifications:
          type: array
          xml:
            wrapped: true
          description: Only available when the proper configuration is enabled
          items:
            xml:
              name: professionalQualification
            $ref: '#/components/schemas/WSProfessionalQualification'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        fieldOfResearchAssociations:
          type: array
          xml:
            wrapped: true
          description: Only available when the ERA module is enabled
          items:
            xml:
              name: fieldOfResearchAssociation
            $ref: '#/components/schemas/WSERA2015FieldOfResearchAssociation'
        willTakePhdStudents:
          type: boolean
          description: Only available when the proper configuration is enabled
        phdResearchProjects:
          type: string
          description: Only available when the proper configuration is enabled
        privateAddress:
          description: Only available when the proper configuration is enabled
          $ref: '#/components/schemas/WSClassifiedAddress'
        personExpertise:
          description: Only available when the Person Expertise module is enabled
          $ref: '#/components/schemas/WSPersonExpertise'
        visibility:
          $ref: '#/components/schemas/WSVisibility'
        info:
          $ref: '#/components/schemas/WSContentInformation'
        expert:
          type: boolean
      xml:
        name: person
    WSFundingOpportunity:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uuid:
          type: string
          xml:
            attribute: true
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: rendering
            $ref: '#/components/schemas/WSHtmlRendering'
        type:
          $ref: '#/components/schemas/WSClassification'
        natureTypes:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: natureType
            $ref: '#/components/schemas/WSClassification'
        academicLabels:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: academicLabel
            $ref: '#/components/schemas/WSLabel'
        labels:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: label
            $ref: '#/components/schemas/WSLabel'
        title:
          $ref: '#/components/schemas/WSLocalizedString'
        description:
          $ref: '#/components/schemas/WSLocalizedString'
        classifiedSources:
          type: array
          xml:
            name: associatedIds
            wrapped: true
          items:
            xml:
              name: associatedId
            $ref: '#/components/schemas/WSClassifiedValue'
        descriptionOfApplicationProcess:
          type: string
        announcementUrl:
          type: string
        urlToApplicationSite:
          type: string
        emailAddressForApplication:
          type: string
        fundingOrganisations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: fundingOrganisation
            $ref: '#/components/schemas/WSExternalOrganisationRef'
        openingDate:
          type: string
          format: date-time
        letterOfIntentDate:
          type: string
          format: date-time
        deadline:
          type: string
          format: date-time
        active:
          type: boolean
        recurring:
          type: boolean
        awardCeiling:
          type: number
          format: double
        awardCeilingCurrency:
          $ref: '#/components/schemas/WSClassification'
        estimatedFunding:
          type: number
          format: double
        estimatedFundingCurrency:
          $ref: '#/components/schemas/WSClassification'
        eligibilities:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: eligibility
            $ref: '#/components/schemas/WSFundingOpportunityEligibility'
        academicDegreeEligibilities:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: academicDegreeEligibility
            $ref: '#/components/schemas/WSFundingOpportunityEligibility'
        limitedSubmission:
          type: boolean
        numberOfAnnualApplicationsPerHEI:
          type: integer
          format: int32
        numberOfAwards:
          type: integer
          format: int32
        openAccessRequirements:
          type: boolean
        applications:
          type: array
          xml:
            wrapped: true
          description: Only available when the Unified Project Model module is enabled
          items:
            xml:
              name: application
            $ref: '#/components/schemas/WSApplicationRef'
        associatedApplicationCount:
          type: integer
          format: int32
          description: Only available when the Unified Project Model module is enabled
        visibility:
          $ref: '#/components/schemas/WSVisibility'
        confidential:
          type: boolean
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        info:
          $ref: '#/components/schemas/WSContentInformation'
      xml:
        name: fundingOpportunity
    WSEthicalReviewRef:
      type: object
      properties:
        uuid:
          type: string
          xml:
            attribute: true
        link:
          $ref: '#/components/schemas/WSNavigationLink'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        ref:
          $ref: '#/components/schemas/WSEthicalReview'
    WSClassifiedDataSetPersonAssociation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        person:
          $ref: '#/components/schemas/WSPersonRef'
        externalPerson:
          $ref: '#/components/schemas/WSExternalPersonRef'
        authorCollaboration:
          $ref: '#/components/schemas/WSAuthorCollaborationRef'
        name:
          $ref: '#/components/schemas/WSName'
        personRole:
          $ref: '#/components/schemas/WSClassification'
        organisationalUnits:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: organisationalUnit
            $ref: '#/components/schemas/WSOrganisationRef'
        externalOrganisations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: externalOrganisation
            $ref: '#/components/schemas/WSExternalOrganisationRef'
        period:
          $ref: '#/components/schemas/WSDateRange'
    WSElectronicVersionAssociation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        accessType:
          $ref: '#/components/schemas/WSClassification'
        versionType:
          $ref: '#/components/schemas/WSClassification'
        embargoPeriod:
          $ref: '#/components/schemas/WSDateRange'
        licenseType:
          $ref: '#/components/schemas/WSClassification'
        userDefinedLicense:
          type: string
        visibleOnPortalDate:
          type: string
          format: date-time
        creator:
          type: string
        created:
          type: string
          format: date-time
    WSDataSetPhysicalData:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        title:
          type: string
        storageLocation:
          type: string
        accessDescription:
          type: string
        media:
          type: string
        type:
          $ref: '#/components/schemas/WSClassification'
    WSAccount:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        costCenter:
          $ref: '#/components/schemas/WSClassification'
        classification:
          $ref: '#/components/schemas/WSClassification'
        entries:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: entry
            $ref: '#/components/schemas/WSAccountEntry'
        specification:
          type: string
        budget:
          type: number
          format: double
        recoveryPercentage:
          type: number
          format: double
        funderContribution:
          type: number
          format: double
        yearlyBudgets:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: yearlyBudget
            $ref: '#/components/schemas/WSYearlyBudget'
    WSOrganisation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uuid:
          type: string
          xml:
            attribute: true
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: rendering
            $ref: '#/components/schemas/WSHtmlRendering'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        nameVariants:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: nameVariant
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        profileInformations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: profileInformation
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        photos:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: photo
            $ref: '#/components/schemas/WSClassifiedFileRef'
        classifiedSources:
          type: array
          xml:
            name: ids
            wrapped: true
          items:
            xml:
              name: id
            $ref: '#/components/schemas/WSClassifiedValue'
        addresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: address
            $ref: '#/components/schemas/WSClassifiedAddress'
        phoneNumbers:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: phoneNumber
            $ref: '#/components/schemas/WSClassifiedValue'
        emails:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: email
            $ref: '#/components/schemas/WSClassifiedValue'
        webAddresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: webAddress
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        period:
          $ref: '#/components/schemas/WSDateRange'
        takenOverBy:
          $ref: '#/components/schemas/WSOrganisationRef'
        parents:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: parent
            $ref: '#/components/schemas/WSOrganisationRef'
        contactPersons:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: contactPerson
            $ref: '#/components/schemas/WSPersonRef'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        costCenters:
          type: array
          xml:
            wrapped: true
          description: Only available on the DK and UK bases
          items:
            xml:
              name: costCenter
            $ref: '#/components/schemas/WSClassification'
        visibility:
          $ref: '#/components/schemas/WSVisibility'
        info:
          $ref: '#/components/schemas/WSContentInformation'
        links:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: link
            $ref: '#/components/schemas/WSLink'
      xml:
        name: organisationalUnit
    WSEthicalReviewReply:
      type: object
      properties:
        key:
          type: string
          xml:
            attribute: true
          enum:
          - PENDING
          - APPROVED
          - DECLINED
          - EXTENDED
          - WITHDRAWN
          - EXPIRED
        value:
          $ref: '#/components/schemas/WSLocalizedString'
    WSVisibility:
      type: object
      properties:
        key:
          type: string
          xml:
            attribute: true
          enum:
          - FREE
          - CAMPUS
          - BACKEND
        value:
          $ref: '#/components/schemas/WSLocalizedString'
    WSEligibilityFulfillmentType:
      type: object
      properties:
        key:
          type: string
          xml:
            attribute: true
          enum:
          - RECOMMENDATION
          - REQUIREMENT
        value:
          $ref: '#/components/schemas/WSLocalizedString'
    WSElectronicVersionAdditionalFileAssociation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        licenseType:
          $ref: '#/components/schemas/WSClassification'
        userDefinedLicense:
          type: string
        visibleOnPortalDate:
          type: string
          format: date-time
        creator:
          type: string
        created:
          type: string
          format: date-time
        file:
          $ref: '#/components/schemas/WSFileRef'
        title:
          type: string
        accessType:
          $ref: '#/components/schemas/WSClassification'
        embargoStartDate:
          type: string
          format: date-time
        embargoEndDate:
          type: string
          format: date-time
    WSEquipmentDetails:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        classifiedSources:
          type: array
          xml:
            name: ids
            wrapped: true
          items:
            xml:
              name: id
            $ref: '#/components/schemas/WSClassifiedValue'
        acquisitionDate:
          type: string
          format: date-time
        decommissionDate:
          type: string
          format: date-time
        value:
          type: number
          format: double
        manufacturers:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: manufacturer
            $ref: '#/components/schemas/WSInternalExternalOrganisationAssociation'
    WSAuthorCollaborationRef:
      type: object
      properties:
        uuid:
          type: string
          xml:
            attribute: true
        link:
          $ref: '#/components/schemas/WSNavigationLink'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        ref:
          $ref: '#/components/schemas/WSAuthorCollaboration'
    WSCompoundDateRange:
      type: object
      properties:
        startDate:
          $ref: '#/components/schemas/WSCompoundDate'
        endDate:
          $ref: '#/components/schemas/WSCompoundDate'
    WSApplicationFundingAssociation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        funder:
          $ref: '#/components/schemas/WSExternalOrganisationRef'
        fundingClassifications:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: fundingClassification
            $ref: '#/components/schemas/WSClassification'
        fundingProjectScheme:
          type: string
        financial:
          type: boolean
        estimatedValue:
          type: number
          format: double
        nonFinancialDescription:
          type: string
        appliedAmountInAppliedCurrency:
          type: number
          format: double
        appliedCurrency:
          $ref: '#/components/schemas/WSClassification'
        appliedAmount:
          type: number
          format: double
        institutionalEstimatedValue:
          type: number
          format: double
        institutionalPart:
          type: number
          format: double
        institutionalContribution:
          type: number
          format: double
        institutionalFEC:
          type: number
          format: double
        fundingCollaborators:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: fundingCollaborator
            $ref: '#/components/schemas/WSFundingCollaboratorAssociation'
        budgetAndExpenditures:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: budgetAndExpenditure
            $ref: '#/components/schemas/WSFundingExpenditureAssociation'
        costCode:
          type: string
        visibility:
          $ref: '#/components/schemas/WSVisibility'
        fecpercentage:
          type: number
          format: double
    WSExternalOrganisationsNestedQuery:
      type: object
      properties:
        uuids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        linkingStrategy:
          type: string
        locales:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: locale
        fallbackLocales:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: fallbackLocale
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: rendering
        fields:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: field
        orderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: ordering
        returnUsedContent:
          type: boolean
        navigationLink:
          type: boolean
        ids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: id
        idClassification:
          type: string
        idClassificationType:
          type: string
        modifiedAfter:
          type: string
          format: date-time
        modifiedBefore:
          type: string
          format: date-time
        createdAfter:
          type: string
          format: date-time
        createdBefore:
          type: string
          format: date-time
        keywordURIs:
          type: array
          xml:
            name: keywordUris
            wrapped: true
          items:
            type: string
            xml:
              name: keywordUri
        freeKeywords:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: freeKeyword
      xml:
        name: externalOrganisationsNestedQuery
    WSAwardStatusDetailsStatus:
      type: object
      properties:
        key:
          type: string
          xml:
            attribute: true
          enum:
          - ContractNegotiation
          - InternallyApproved
          - Terminated
          - ExtendedNoCost
        value:
          $ref: '#/components/schemas/WSLocalizedString'
    WSDocument:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        title:
          type: string
        documentType:
          $ref: '#/components/schemas/WSClassification'
        url:
          type: string
        documentLicense:
          $ref: '#/components/schemas/WSClassification'
        visibleOnPortalDate:
          type: string
          format: date-time
        visibility:
          $ref: '#/components/schemas/WSVisibility'
        creator:
          type: string
        created:
          type: string
          format: date-time
    WSPersonExternalPosition:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        appointment:
          $ref: '#/components/schemas/WSClassification'
        appointmentValue:
          $ref: '#/components/schemas/WSLocalizedString'
        externalOrganisation:
          $ref: '#/components/schemas/WSExternalOrganisationRef'
        period:
          $ref: '#/components/schemas/WSCompoundDateRange'
    WSAward:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uuid:
[...]
