openapi: 3.0.3
info:
  title: Pure Web Service 524 activities curricula-vitae API
  description: 'This is the Pure Web Service. Listed below are all available endpoints, along with a short description.<br/><br/>In order to use the Pure Web Service, you must enter an API key. These are generated in the Administrator tab of Pure, and issued with a given set of available endpoints.<br/>To enter your API key and begin your use, press the ''Authorize'' button to at the top of this page. <br/>You are then presented with two options for entering the API key: <ol><li>Use the API key in query format.</li><li>Use the API key in a header.</li><br/> For further documentation, see <a href="documentation/Default.htm">Web Service Documentation</a>.<br/><br/>This is final version of the legacy versioned Web Service, and will be available until otherwise announced in release notes.<br/>Please note that when doing new development it is advised to investigate the new Pure API - to see if relevant endpoints are available for your use case.<br/><em>If enabled</em>, you can can see documentation here <a href="../..">API Documentation</a>.<br/><br/>'
  version: '524'
  contact:
    name: Elsevier
servers:
- url: https://api.research-repository.uwa.edu.au/ws/api/524
security:
- apiKey: []
- api-key: []
tags:
- name: curricula-vitae
paths:
  /curricula-vitae/{id}:
    get:
      tags:
      - curricula-vitae
      summary: Returns a curriculum vitae
      description: Gets a curriculum vitae with specific ID (path parameter).
      operationId: getCurriculumVitae
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the desired curriculum vitae
        schema:
          type: string
      - name: idClassificationType
        in: query
        required: false
        description: Give an optional classification type used to specify which type of ID should be used in the match. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read more...</a>
        schema:
          type: string
      - name: idClassification
        in: query
        required: false
        description: Give an optional classification used to specify which type of ID should be used in the match. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param">Read more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'. Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read more...</a>
        schema:
          type: array
          enum:
          - standard
          - ddp_metadata
          - cv_relations
          - system
          - inline
          - short
          - long
          items:
            type: string
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read more...</a>'
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id001
                $ref: '#/components/schemas/WSCurriculumVitae'
            application/json:
              schema: *id001
        '404':
          description: Resource not found
          content:
            application/xml:
              schema: &id002
                $ref: '#/components/schemas/WSErrorResult'
            application/json:
              schema: *id002
  /curricula-vitae:
    get:
      tags:
      - curricula-vitae
      summary: Lists all curricula vitae
      description: Lists all curricula vitae in the Pure instance. If you need to filter the curricula vitae returned, see the POST version which supports additional filtering.
      operationId: listCurriculumVitae
      security:
      - apiKey: []
      - api-key: []
      parameters:
      - name: q
        in: query
        required: false
        description: Free text search string using Lucene query syntax. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#q_param">Read more...</a>
        schema:
          type: string
      - name: fields
        in: query
        required: false
        description: Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fields_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: order
        in: query
        required: false
        description: 'Specify the ordering of content in the result. Default: ID ascending. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read more...</a>'
        schema:
          type: array
          enum:
          - created
          - rating
          - modified
          - title
          items:
            type: string
      - name: orderBy
        in: query
        required: false
        description: 'Choose the directionality of the result. If set, this will override direction on ''Order''. Read more about order elements and direction here: <a href="documentation/Content/Topics/Parameter_Descriptions.htm#order_param">Read more...</a>'
        schema:
          type: string
          enum:
          - ascending
          - descending
      - name: locale
        in: query
        required: false
        description: Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#locale_param">Read more...</a>
        schema:
          type: array
          enum:
          - en_GB
          items:
            type: string
      - name: fallbackLocale
        in: query
        required: false
        description: Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. E.g. 'da_DK=>en_GB'. Locale1 must be equal to the locale provided in the locale string. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param">Read more...</a>
        schema:
          type: array
          items:
            type: string
      - name: rendering
        in: query
        required: false
        description: HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param">Read more...</a>
        schema:
          type: array
          enum:
          - standard
          - ddp_metadata
          - cv_relations
          - system
          - inline
          - short
          - long
          items:
            type: string
      - name: linkingStrategy
        in: query
        required: false
        description: Specify the linking strategy to use when creating HTML renderings. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param">Read more...</a>
        schema:
          type: string
          enum:
          - documentLinkingStrategy
          - portalLinkingStrategy
          - ddpLinkingStrategy
          - noLinkingStrategy
          - externalSourceIdLinkingStrategy
      - name: returnUsedContent
        in: query
        required: false
        description: If 'true', the IDs of the content used to create HTML renderings are returned as part of the result. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param">Read more...</a>
        schema:
          type: boolean
      - name: navigationLink
        in: query
        required: false
        description: 'Include navigation links for paging and content. Default: true. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param">Read more...</a>'
        schema:
          type: boolean
      - name: size
        in: query
        required: false
        description: 'Enter the number of results per window. Default: 10. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read more...</a>'
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        description: 'Enter the offset into the total result set where items should be returned from. Default: 0. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param">Read more...</a>'
        schema:
          type: integer
      - name: page
        in: query
        required: false
        description: Enter the desired page number. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read more...</a>
        schema:
          type: integer
      - name: pageSize
        in: query
        required: false
        description: Enter the desired number of results per page. <a href="documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param">Read more...</a>
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id003
                $ref: '#/components/schemas/WSCurriculumVitaeListResult'
            application/json:
              schema: *id003
    post:
      tags:
      - curricula-vitae
      summary: Complex operation for curricula vitae
      description: Lists curricula vitae in the Pure instance, similar to the GET version, instead of using parameters to alter the response, an XML document is posted with the request. The XML document contains fields for all the parameters available for the GET version, but also additional filtering options. For documentation of the XML format see <a href="documentation/Content/Topics/CT_CurriculumVitae.htm#post_xml">Curriculum Vitae documentation</a>.
      operationId: listCurriculumVitae_1
      security:
      - apiKey: []
      - api-key: []
      requestBody:
        content:
          application/xml:
            schema: &id004
              $ref: '#/components/schemas/WSCurriculumVitaeQuery'
          application/json:
            schema: *id004
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id005
                $ref: '#/components/schemas/WSCurriculumVitaeListResult'
            application/json:
              schema: *id005
  /curricula-vitae-meta/orderings:
    get:
      tags:
      - curricula-vitae
      summary: Lists available orderings
      description: Lists all orderings available to the curricula vitae endpoint. These values can be used by the order parameter.
      operationId: getAvailableOrderings_5
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id006
                $ref: '#/components/schemas/WSOrderingsList'
            application/json:
              schema: *id006
  /curricula-vitae-meta/renderings:
    get:
      tags:
      - curricula-vitae
      summary: Lists available renderings
      description: Lists all renderings available to the curricula vitae endpoint. These values can be used by the rendering parameter.
      operationId: getAvailableRenderings_5
      security:
      - apiKey: []
      - api-key: []
      responses:
        '200':
          description: Successful operation
          content:
            application/xml:
              schema: &id007
                $ref: '#/components/schemas/WSRenderingsList'
            application/json:
              schema: *id007
components:
  schemas:
    WSResidencyFlag:
      type: object
      properties:
        key:
          type: string
          enum:
          - UNKNOWN
          - HOME
          - OVERSEAS
        value:
          $ref: '#/components/schemas/WSLocalizedString'
    WSPageInformation:
      type: object
      properties:
        offset:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
      xml:
        name: pageInformation
    WSPersonExternalPosition:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        appointment:
          $ref: '#/components/schemas/WSClassification'
        appointmentValue:
          $ref: '#/components/schemas/WSLocalizedString'
        externalOrganisation:
          $ref: '#/components/schemas/WSExternalOrganisationRef'
        period:
          $ref: '#/components/schemas/WSCompoundDateRange'
    WSHonoraryStaffOrganisationAssociation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        person:
          $ref: '#/components/schemas/WSPersonRef'
        affiliationId:
          type: string
        addresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: address
            $ref: '#/components/schemas/WSClassifiedAddress'
        emails:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: email
            $ref: '#/components/schemas/WSClassifiedValue'
        phoneNumbers:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: phoneNumber
            $ref: '#/components/schemas/WSClassifiedValue'
        employmentType:
          $ref: '#/components/schemas/WSClassification'
        webAddresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: webAddress
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        organisation:
          xml:
            name: organisationalUnit
          $ref: '#/components/schemas/WSOrganisationRef'
        period:
          $ref: '#/components/schemas/WSDateRange'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        jobDescription:
          $ref: '#/components/schemas/WSLocalizedString'
        jobTitle:
          $ref: '#/components/schemas/WSClassification'
        primaryAssociation:
          type: boolean
    WSClassifiedLocalizedValue:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        value:
          $ref: '#/components/schemas/WSLocalizedString'
        classification:
          xml:
            name: type
          $ref: '#/components/schemas/WSClassification'
    WSCompoundDate:
      type: object
      properties:
        year:
          type: integer
          format: int32
        month:
          type: integer
          format: int32
        day:
          type: integer
          format: int32
    WSInternalExternalOrganisationAssociation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        organisation:
          xml:
            name: organisationalUnit
          $ref: '#/components/schemas/WSOrganisationRef'
        externalOrganisation:
          xml:
            name: externalOrganisationalUnit
          $ref: '#/components/schemas/WSExternalOrganisationRef'
    WSAddress:
      type: object
      properties:
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        address4:
          type: string
        address5:
          type: string
        postalCode:
          type: string
        city:
          type: string
        country:
          $ref: '#/components/schemas/WSClassification'
        subdivision:
          $ref: '#/components/schemas/WSClassification'
        state:
          type: string
        geoLocation:
          $ref: '#/components/schemas/WSGeoLocation'
      xml:
        name: address
    WSPersonOrganisationAssociation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        person:
          $ref: '#/components/schemas/WSPersonRef'
        affiliationId:
          type: string
        addresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: address
            $ref: '#/components/schemas/WSClassifiedAddress'
        emails:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: email
            $ref: '#/components/schemas/WSClassifiedValue'
        phoneNumbers:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: phoneNumber
            $ref: '#/components/schemas/WSClassifiedValue'
        employmentType:
          $ref: '#/components/schemas/WSClassification'
        webAddresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: webAddress
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        organisation:
          xml:
            name: organisationalUnit
          $ref: '#/components/schemas/WSOrganisationRef'
        period:
          $ref: '#/components/schemas/WSDateRange'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        primaryAssociation:
          type: boolean
    WSPersonSupervisorAssociation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        supervisor:
          $ref: '#/components/schemas/WSPersonRef'
        externalSupervisor:
          $ref: '#/components/schemas/WSExternalPersonRef'
        supervisionPercentage:
          type: integer
          format: int32
        period:
          $ref: '#/components/schemas/WSDateRange'
        supervisorRole:
          $ref: '#/components/schemas/WSClassification'
        student:
          $ref: '#/components/schemas/WSPersonOrganisationAssociation'
    WSClassifiedValue:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        value:
          $ref: '#/components/schemas/WSValue'
        classification:
          xml:
            name: type
          $ref: '#/components/schemas/WSClassification'
    WSPersonEducationSupervisorAssociation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        supervisor:
          $ref: '#/components/schemas/WSPersonRef'
        externalSupervisor:
          $ref: '#/components/schemas/WSExternalPersonRef'
    WSVisitingScholarOrganisationAssociation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        person:
          $ref: '#/components/schemas/WSPersonRef'
        affiliationId:
          type: string
        addresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: address
            $ref: '#/components/schemas/WSClassifiedAddress'
        emails:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: email
            $ref: '#/components/schemas/WSClassifiedValue'
        phoneNumbers:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: phoneNumber
            $ref: '#/components/schemas/WSClassifiedValue'
        employmentType:
          $ref: '#/components/schemas/WSClassification'
        webAddresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: webAddress
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        organisation:
          xml:
            name: organisationalUnit
          $ref: '#/components/schemas/WSOrganisationRef'
        period:
          $ref: '#/components/schemas/WSDateRange'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        purposeOfStay:
          type: string
        visitorFrom:
          $ref: '#/components/schemas/WSExternalOrganisationRef'
        jobDescription:
          $ref: '#/components/schemas/WSLocalizedString'
        jobTitle:
          $ref: '#/components/schemas/WSClassification'
        primaryAssociation:
          type: boolean
    WSPersonExpertise:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        areasOfExpertise:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: areaOfExpertise
        areaOfExpertiseClassifications:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: areaOfExpertiseClassification
            $ref: '#/components/schemas/WSClassification'
        willingnessToMedia:
          type: boolean
        moderatedWillingnessToMedia:
          type: boolean
        type:
          $ref: '#/components/schemas/WSClassification'
    WSUuidList:
      type: object
      properties:
        family:
          type: string
          xml:
            attribute: true
        uuids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: uuid
    WSKeyword:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        locale:
          type: string
          xml:
            attribute: true
        freeKeywords:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: freeKeyword
    WSPersonEducation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        period:
          $ref: '#/components/schemas/WSCompoundDateRange'
        fieldOfStudy:
          $ref: '#/components/schemas/WSClassification'
        qualification:
          $ref: '#/components/schemas/WSClassification'
        awardDate:
          type: string
          format: date-time
        organisationalUnits:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: organisationalUnit
            $ref: '#/components/schemas/WSInternalExternalOrganisationAssociation'
        projectTitle:
          $ref: '#/components/schemas/WSLocalizedString'
        distinction:
          $ref: '#/components/schemas/WSClassification'
        supervisor:
          $ref: '#/components/schemas/WSPersonEducationSupervisorAssociation'
    WSStaffOrganisationAssociation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        person:
          $ref: '#/components/schemas/WSPersonRef'
        affiliationId:
          type: string
        addresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: address
            $ref: '#/components/schemas/WSClassifiedAddress'
        emails:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: email
            $ref: '#/components/schemas/WSClassifiedValue'
        phoneNumbers:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: phoneNumber
            $ref: '#/components/schemas/WSClassifiedValue'
        employmentType:
          $ref: '#/components/schemas/WSClassification'
        webAddresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: webAddress
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        organisation:
          xml:
            name: organisationalUnit
          $ref: '#/components/schemas/WSOrganisationRef'
        period:
          $ref: '#/components/schemas/WSDateRange'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        contractType:
          $ref: '#/components/schemas/WSClassification'
        staffType:
          $ref: '#/components/schemas/WSClassification'
        jobDescription:
          $ref: '#/components/schemas/WSLocalizedString'
        jobTitle:
          $ref: '#/components/schemas/WSClassification'
        fte:
          type: number
          format: double
        primaryAssociation:
          type: boolean
    WSAbstractCurriculumVitaeBlock:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
    WSOrganisationsNestedQuery:
      type: object
      properties:
        uuids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        linkingStrategy:
          type: string
        locales:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: locale
        fallbackLocales:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: fallbackLocale
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: rendering
        fields:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: field
        orderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: ordering
        returnUsedContent:
          type: boolean
        navigationLink:
          type: boolean
        ids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: id
        idClassification:
          type: string
        idClassificationType:
          type: string
        modifiedAfter:
          type: string
          format: date-time
        modifiedBefore:
          type: string
          format: date-time
        createdAfter:
          type: string
          format: date-time
        createdBefore:
          type: string
          format: date-time
        organisationalUnitTypeUris:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: organisationalUnitTypeUri
        organisationPeriodStatus:
          type: string
          xml:
            name: organisationalUnitPeriodStatus
          enum:
          - ACTIVE
          - FORMER
        hierarchyDepth:
          type: integer
          format: int32
        hierarchyStrategy:
          type: string
        keywordURIs:
          type: array
          xml:
            name: keywordUris
            wrapped: true
          items:
            type: string
            xml:
              name: keywordUri
        freeKeywords:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: freeKeyword
      xml:
        name: organisationalUnitsNestedQuery
    WSExternalPerson:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uuid:
          type: string
          xml:
            attribute: true
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: rendering
            $ref: '#/components/schemas/WSHtmlRendering'
        name:
          $ref: '#/components/schemas/WSName'
        type:
          $ref: '#/components/schemas/WSClassification'
        title:
          $ref: '#/components/schemas/WSLocalizedString'
        country:
          $ref: '#/components/schemas/WSClassification'
        gender:
          $ref: '#/components/schemas/WSGender'
        classifiedSources:
          type: array
          xml:
            name: ids
            wrapped: true
          items:
            xml:
              name: id
            $ref: '#/components/schemas/WSClassifiedValue'
        externalOrganisations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: externalOrganisation
            $ref: '#/components/schemas/WSExternalOrganisationRef'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        workflow:
          $ref: '#/components/schemas/WSWorkflow'
        info:
          $ref: '#/components/schemas/WSContentInformation'
      xml:
        name: externalPerson
    WSOrderingsList:
      type: object
      properties:
        orderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: ordering
      xml:
        name: orderings
    WSERA2015FieldOfResearchAssociation:
      type: object
      properties:
        fieldsOfResearch:
          xml:
            name: fieldOfResearch
          $ref: '#/components/schemas/WSClassification'
        splitPercentage:
          type: number
          format: double
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
    WSPerson:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uuid:
          type: string
          xml:
            attribute: true
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: rendering
            $ref: '#/components/schemas/WSHtmlRendering'
        name:
          $ref: '#/components/schemas/WSName'
        gender:
          description: Only available if it is made public
          $ref: '#/components/schemas/WSClassification'
        dateOfBirth:
          type: string
          format: date-time
          description: Only available if it is made public
        nationality:
          $ref: '#/components/schemas/WSClassification'
        nameVariants:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: nameVariant
            $ref: '#/components/schemas/WSClassifiedName'
        titles:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: title
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        classifiedSources:
          type: array
          xml:
            name: ids
            wrapped: true
          items:
            xml:
              name: id
            $ref: '#/components/schemas/WSClassifiedValue'
        orcid:
          type: string
        profilePhotos:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: profilePhoto
            $ref: '#/components/schemas/WSClassifiedFileRef'
        links:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: link
            $ref: '#/components/schemas/WSLink'
        startDateAsResearcher:
          type: string
          format: date-time
        retirementDate:
          type: string
          format: date-time
        profiled:
          type: boolean
          description: Only available when the Author Profile module is enabled
        scopusHIndex:
          type: integer
          format: int32
        profileInformations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: profileInformation
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        studentOrganisationAssociations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: studentOrganisationAssociation
            $ref: '#/components/schemas/WSStudentOrganisationAssociation'
        staffOrganisationAssociations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: staffOrganisationAssociation
            $ref: '#/components/schemas/WSStaffOrganisationAssociation'
        visitingScholarOrganisationAssociations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: visitingScholarOrganisationAssociation
            $ref: '#/components/schemas/WSVisitingScholarOrganisationAssociation'
        honoraryStaffOrganisationAssociations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: honoraryStaffOrganisationAssociation
            $ref: '#/components/schemas/WSHonoraryStaffOrganisationAssociation'
        supervisorForRelations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: supervisorForRelation
            $ref: '#/components/schemas/WSPersonSupervisorAssociation'
        supervisedByRelations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: supervisedByRelation
            $ref: '#/components/schemas/WSPersonSupervisorAssociation'
        leavesOfAbsence:
          type: array
          xml:
            name: leavesOfAbsences
            wrapped: true
          description: Only available when the proper configuration is enabled
          items:
            xml:
              name: leavesOfAbsence
            $ref: '#/components/schemas/WSPersonClassifiedLeaveOfAbsence'
        employeeStartDate:
          type: string
          format: date-time
        employeeEndDate:
          type: string
          format: date-time
        fte:
          type: number
          format: double
        affiliationNote:
          type: string
          description: Only available when the proper configuration is enabled
        externalPositions:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: externalPosition
            $ref: '#/components/schemas/WSPersonExternalPosition'
        educations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: education
            $ref: '#/components/schemas/WSPersonEducation'
        professionalQualifications:
          type: array
          xml:
            wrapped: true
          description: Only available when the proper configuration is enabled
          items:
            xml:
              name: professionalQualification
            $ref: '#/components/schemas/WSProfessionalQualification'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        fieldOfResearchAssociations:
          type: array
          xml:
            wrapped: true
          description: Only available when the ERA module is enabled
          items:
            xml:
              name: fieldOfResearchAssociation
            $ref: '#/components/schemas/WSERA2015FieldOfResearchAssociation'
        willTakePhdStudents:
          type: boolean
          description: Only available when the proper configuration is enabled
        phdResearchProjects:
          type: string
          description: Only available when the proper configuration is enabled
        privateAddress:
          description: Only available when the proper configuration is enabled
          $ref: '#/components/schemas/WSClassifiedAddress'
        personExpertise:
          description: Only available when the Person Expertise module is enabled
          $ref: '#/components/schemas/WSPersonExpertise'
        visibility:
          $ref: '#/components/schemas/WSVisibility'
        info:
          $ref: '#/components/schemas/WSContentInformation'
        expert:
          type: boolean
      xml:
        name: person
    WSStudentOrganisationAssociation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        person:
          $ref: '#/components/schemas/WSPersonRef'
        affiliationId:
          type: string
        addresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: address
            $ref: '#/components/schemas/WSClassifiedAddress'
        emails:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: email
            $ref: '#/components/schemas/WSClassifiedValue'
        phoneNumbers:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: phoneNumber
            $ref: '#/components/schemas/WSClassifiedValue'
        employmentType:
          $ref: '#/components/schemas/WSClassification'
        webAddresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: webAddress
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        organisation:
          xml:
            name: organisationalUnit
          $ref: '#/components/schemas/WSOrganisationRef'
        period:
          $ref: '#/components/schemas/WSDateRange'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        fte:
          type: number
          format: double
        startYear:
          type: string
        studentTypeDescription:
          $ref: '#/components/schemas/WSClassification'
        programme:
          type: string
        expectedStudyDuration:
          type: integer
          format: int32
        minStudyDuration:
          type: integer
          format: int32
        maxStudyDuration:
          type: integer
          format: int32
        programmeYear:
          type: string
        initialSubmissionsDate:
          type: string
          format: date-time
        expectedEndDate:
          type: string
          format: date-time
        nationality:
          $ref: '#/components/schemas/WSClassification'
        studentResidencyFlag:
          $ref: '#/components/schemas/WSResidencyFlag'
        countryOfDomicile:
          $ref: '#/components/schemas/WSClassification'
        awardGained:
          type: string
        projectTitle:
          $ref: '#/components/schemas/WSLocalizedString'
        awardDate:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/WSClassification'
        primaryAssociation:
          type: boolean
    WSClassification:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uri:
          type: string
          xml:
            attribute: true
        term:
          $ref: '#/components/schemas/WSLocalizedString'
        disabled:
          type: boolean
          xml:
            attribute: true
        description:
          $ref: '#/components/schemas/WSLocalizedString'
        classificationRelations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: classificationRelation
            $ref: '#/components/schemas/WSClassificationRelation'
    WSExternalOrganisation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uuid:
          type: string
          xml:
            attribute: true
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: rendering
            $ref: '#/components/schemas/WSHtmlRendering'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        natureTypes:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: natureType
            $ref: '#/components/schemas/WSClassification'
        parent:
          $ref: '#/components/schemas/WSExternalOrganisationRef'
        acronym:
          type: string
        alternativeNames:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: alternativeName
        classifiedSources:
          type: array
          xml:
            name: ids
            wrapped: true
          items:
            xml:
              name: id
            $ref: '#/components/schemas/WSClassifiedValue'
        address:
          $ref: '#/components/schemas/WSAddress'
        phoneNumber:
          type: string
        mobilePhoneNumber:
          type: string
        fax:
          type: string
        email:
          type: string
        bankAccountNumber:
          type: string
        vatNumber:
          type: string
        documents:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: document
            $ref: '#/components/schemas/WSDocument'
        links:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: link
            $ref: '#/components/schemas/WSLink'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        note:
          type: string
        visibility:
          $ref: '#/components/schemas/WSVisibility'
        workflow:
          $ref: '#/components/schemas/WSWorkflow'
        info:
          $ref: '#/components/schemas/WSContentInformation'
      xml:
        name: externalOrganisation
    WSClassifiedFileRef:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        classification:
          xml:
            name: type
          $ref: '#/components/schemas/WSClassification'
        url:
          type: string
        filename:
          type: string
        mimetype:
          type: string
        size:
          type: integer
          format: int64
    WSGender:
      type: object
      properties:
        key:
          type: string
          xml:
            attribute: true
          enum:
          - MALE
          - FEMALE
          - UNKNOWN
        value:
          $ref: '#/components/schemas/WSLocalizedString'
    WSWorkflow:
      type: object
      properties:
        workflowStep:
          type: string
          xml:
            attribute: true
        value:
          $ref: '#/components/schemas/WSLocalizedString'
    WSClassifiedAddress:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        addressType:
          $ref: '#/components/schemas/WSClassification'
        addressLines:
          type: string
        street:
          type: string
        building:
          type: string
        postalcode:
          type: string
        city:
          type: string
        country:
          $ref: '#/components/schemas/WSClassification'
        subdivision:
          $ref: '#/components/schemas/WSClassification'
        geoLocation:
          $ref: '#/components/schemas/WSGeoLocation'
    WSClassificationRelation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        relatedTo:
          $ref: '#/components/schemas/WSClassification'
        relationType:
          $ref: '#/components/schemas/WSClassification'
    WSId:
      type: object
      properties:
        id:
          type: string
        idSource:
          type: string
          xml:
            attribute: true
    WSCurriculumVitaeQuery:
      type: object
      properties:
        uuids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        linkingStrategy:
          type: string
        locales:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: locale
        fallbackLocales:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: fallbackLocale
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: rendering
        fields:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: field
        orderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: ordering
        returnUsedContent:
          type: boolean
        navigationLink:
          type: boolean
        ids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: id
        idClassification:
          type: string
        idClassificationType:
          type: string
        modifiedAfter:
          type: string
          format: date-time
        modifiedBefore:
          type: string
          format: date-time
        createdAfter:
          type: string
          format: date-time
        createdBefore:
          type: string
          format: date-time
        searchString:
          type: string
        excludeByTypeUri:
          type: boolean
        typeUris:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: typeUri
        forPersons:
          $ref: '#/components/schemas/WSPersonsNestedQuery'
      xml:
        name: curriculumVitaeQuery
    WSErrorResult:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        title:
          type: string
        description:
          type: string
      xml:
        name: error
    WSName:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
    WSPersonsNestedQuery:
      type: object
      properties:
        uuids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        linkingStrategy:
          type: string
        locales:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: locale
        fallbackLocales:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: fallbackLocale
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: rendering
        fields:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: field
        orderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: ordering
        returnUsedContent:
          type: boolean
        navigationLink:
          type: boolean
        ids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: id
        idClassification:
          type: string
        idClassificationType:
          type: string
        modifiedAfter:
          type: string
          format: date-time
        modifiedBefore:
          type: string
          format: date-time
        createdAfter:
          type: string
          format: date-time
        createdBefore:
          type: string
          format: date-time
        employmentTypeUris:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: employmentTypeUri
        employmentStatus:
          type: string
          enum:
          - ACTIVE
          - FORMER
        employmentPeriod:
          $ref: '#/components/schemas/WSCompoundDateRange'
        personOrganisationAssociationTypes:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: associationType
            enum:
            - STAFF
            - STUDENTS
            - VISITING_SCHOLARS
            - HONORARY_STAFF
        forOrganisations:
          $ref: '#/components/schemas/WSOrganisationsNestedQuery'
        academicStaff:
          type: boolean
        keywordURIs:
          type: array
          xml:
            name: keywordUris
            wrapped: true
          items:
            type: string
            xml:
              name: keywordUri
        freeKeywords:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: freeKeyword
        highlightedContent:
          type: boolean
          description: Only available when the DDP module is enabled
      xml:
        name: personsNestedQuery
    WSOrganisation:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uuid:
          type: string
          xml:
            attribute: true
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: rendering
            $ref: '#/components/schemas/WSHtmlRendering'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        nameVariants:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: nameVariant
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        profileInformations:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: profileInformation
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        photos:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: photo
            $ref: '#/components/schemas/WSClassifiedFileRef'
        classifiedSources:
          type: array
          xml:
            name: ids
            wrapped: true
          items:
            xml:
              name: id
            $ref: '#/components/schemas/WSClassifiedValue'
        addresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: address
            $ref: '#/components/schemas/WSClassifiedAddress'
        phoneNumbers:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: phoneNumber
            $ref: '#/components/schemas/WSClassifiedValue'
        emails:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: email
            $ref: '#/components/schemas/WSClassifiedValue'
        webAddresses:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: webAddress
            $ref: '#/components/schemas/WSClassifiedLocalizedValue'
        period:
          $ref: '#/components/schemas/WSDateRange'
        takenOverBy:
          $ref: '#/components/schemas/WSOrganisationRef'
        parents:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: parent
            $ref: '#/components/schemas/WSOrganisationRef'
        contactPersons:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: contactPerson
            $ref: '#/components/schemas/WSPersonRef'
        keywordGroups:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordGroup
            $ref: '#/components/schemas/WSKeywordGroup'
        costCenters:
          type: array
          xml:
            wrapped: true
          description: Only available on the DK and UK bases
          items:
            xml:
              name: costCenter
            $ref: '#/components/schemas/WSClassification'
        visibility:
          $ref: '#/components/schemas/WSVisibility'
        info:
          $ref: '#/components/schemas/WSContentInformation'
        links:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: link
            $ref: '#/components/schemas/WSLink'
      xml:
        name: organisationalUnit
    WSRenderingsList:
      type: object
      properties:
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: rendering
      xml:
        name: renderings
    WSExternalOrganisationRef:
      type: object
      properties:
        uuid:
          type: string
          xml:
            attribute: true
        link:
          $ref: '#/components/schemas/WSNavigationLink'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        ref:
          $ref: '#/components/schemas/WSExternalOrganisation'
    WSUsedContent:
      type: object
      properties:
        rendering:
          type: string
          xml:
            attribute: true
        locale:
          type: string
          xml:
            attribute: true
        usedContent:
          type: array
          xml:
            name: uuids
            wrapped: true
          items:
            xml:
              name: uuid
            $ref: '#/components/schemas/WSUuidList'
    WSPersonRef:
      type: object
      properties:
        uuid:
          type: string
          xml:
            attribute: true
        link:
          $ref: '#/components/schemas/WSNavigationLink'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        ref:
          $ref: '#/components/schemas/WSPerson'
    WSCurriculumVitaePdfUrl:
      type: object
      properties:
        locale:
          type: string
          xml:
            attribute: true
        url:
          type: string
          xml:
            name: href
            attribute: true
      xml:
        name: pdfURL
    WSVisibility:
      type: object
      properties:
        key:
          type: string
          xml:
            attribute: true
          enum:
          - FREE
          - CAMPUS
          - BACKEND
        value:
          $ref: '#/components/schemas/WSLocalizedString'
    WSKeywordGroup:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        logicalName:
          type: string
          xml:
            attribute: true
        type:
          $ref: '#/components/schemas/WSClassification'
        keywordContainers:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: keywordContainer
            $ref: '#/components/schemas/WSKeywordContainer'
    WSNavigationLink:
      type: object
      properties:
        ref:
          type: string
          xml:
            attribute: true
        href:
          type: string
          xml:
            attribute: true
    WSClassifiedName:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        name:
          $ref: '#/components/schemas/WSName'
        type:
          $ref: '#/components/schemas/WSClassification'
    WSProfessionalQualification:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        qualification:
          $ref: '#/components/schemas/WSLocalizedString'
        abbreviatedQualification:
          $ref: '#/components/schemas/WSLocalizedString'
        period:
          $ref: '#/components/schemas/WSCompoundDateRange'
    WSCurriculumVitaeListResult:
      type: object
      properties:
        count:
          type: integer
          format: int32
        pageInformation:
          $ref: '#/components/schemas/WSPageInformation'
        navigationLinks:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: navigationLink
            $ref: '#/components/schemas/WSNavigationLink'
        items:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/WSCurriculumVitae'
      xml:
        name: result
    WSContentInformation:
      type: object
      properties:
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        modifiedBy:
          type: string
        modifiedDate:
          type: string
          format: date-time
        portalUrl:
          type: string
        prettyUrlIdentifiers:
          type: array
          xml:
            name: prettyURLIdentifiers
            wrapped: true
          items:
            type: string
            xml:
              name: prettyURLIdentifier
        additionalExternalIds:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: id
            $ref: '#/components/schemas/WSId'
        usedContent:
          type: array
          xml:
            name: usedContents
            wrapped: true
          items:
            xml:
              name: usedContent
            $ref: '#/components/schemas/WSUsedContent'
        previousUuids:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: previousUuid
    WSCompoundDateRange:
      type: object
      properties:
        startDate:
          $ref: '#/components/schemas/WSCompoundDate'
        endDate:
          $ref: '#/components/schemas/WSCompoundDate'
    WSLink:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        url:
          type: string
        description:
          $ref: '#/components/schemas/WSLocalizedString'
        linkType:
          $ref: '#/components/schemas/WSClassification'
    WSGeoLocation:
      type: object
      properties:
        point:
          type: string
        polygon:
          type: string
        calculatedPoint:
          type: string
    WSOrganisationRef:
      type: object
      properties:
        uuid:
          type: string
          xml:
            attribute: true
        link:
          $ref: '#/components/schemas/WSNavigationLink'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        ref:
          $ref: '#/components/schemas/WSOrganisation'
    WSKeywordContainer:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        structuredKeyword:
          $ref: '#/components/schemas/WSClassification'
        freeKeywords:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: freeKeyword
            $ref: '#/components/schemas/WSKeyword'
    WSHtmlRendering:
      type: object
      properties:
        format:
          type: string
          xml:
            attribute: true
        locale:
          type: string
          xml:
            attribute: true
        error:
          type: boolean
          xml:
            attribute: true
        html:
          type: string
    WSLocalizedText:
      type: object
      properties:
        locale:
          type: string
          xml:
            attribute: true
        value:
          type: string
    WSValue:
      type: object
      properties:
        formatted:
          type: boolean
          xml:
            attribute: true
        value:
          type: string
    WSLocalizedString:
      type: object
      properties:
        formatted:
          type: boolean
          xml:
            attribute: true
        text:
          type: array
          items:
            xml:
              name: text
            $ref: '#/components/schemas/WSLocalizedText'
    WSPersonClassifiedLeaveOfAbsence:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        typesOfLeave:
          xml:
            name: typeOfLeave
          $ref: '#/components/schemas/WSClassification'
        period:
          $ref: '#/components/schemas/WSDateRange'
    WSDateRange:
      type: object
      properties:
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
    WSExternalPersonRef:
      type: object
      properties:
        uuid:
          type: string
          xml:
            attribute: true
        link:
          $ref: '#/components/schemas/WSNavigationLink'
        name:
          $ref: '#/components/schemas/WSLocalizedString'
        type:
          $ref: '#/components/schemas/WSClassification'
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        ref:
          $ref: '#/components/schemas/WSExternalPerson'
    WSCurriculumVitae:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        uuid:
          type: string
          xml:
            attribute: true
        renderings:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: rendering
            $ref: '#/components/schemas/WSHtmlRendering'
        title:
          type: string
        person:
          $ref: '#/components/schemas/WSPersonRef'
        type:
          $ref: '#/components/schemas/WSClassification'
        blocks:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: block
            $ref: '#/components/schemas/WSAbstractCurriculumVitaeBlock'
        pdfURLs:
          type: array
          xml:
            wrapped: true
          items:
            xml:
              name: pdfURL
            $ref: '#/components/schemas/WSCurriculumVitaePdfUrl'
        confidential:
          type: boolean
        visibility:
          $ref: '#/components/schemas/WSVisibility'
        info:
          $ref: '#/components/schemas/WSContentInformation'
      xml:
        name: curriculumVitae
    WSDocument:
      type: object
      properties:
        pureId:
          type: integer
          format: int64
          xml:
            attribute: true
        externalId:
          type: string
          xml:
            attribute: true
        externalIdSource:
          type: string
          xml:
            attribute: true
        externallyManaged:
          type: boolean
          xml:
            attribute: true
        title:
          type: string
        documentType:
          $ref: '#/components/schemas/WSClassification'
        url:
          type: string
        documentLicense:
          $ref: '#/components/schemas/WSClassification'
        visibleOnPortalDate:
          type: string
          format: date-time
        visibility:
          $ref: '#/components/schemas/WSVisibility'
        creator:
          type: string
        created:
          type: string
          format: date-time
  securitySchemes:
    apiKey:
      type: apiKey
      name: apiKey
      in: query
    api-key:
      type: apiKey
      name: api-key
      in: header
